<main class="default-transition" style="opacity: 1;">
    <div class="container-fluid disable-text-selection">

        <div class="row mb-4">
            <div class="col-xs-12 col-lg-12 col-12 mb-4">
                <div class="card">
                    <img class="card-img" src="../../../assets/img/icons/background.png" style="border-radius: 0px;">
                    <div class="card-img-overlay text-center" style="color:#3a3a3a">
                        <h1 class="welcomeFont mt-4">Communication</h1>
                        <h6 class="headerSemiBold">Connect to the community worldwide</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-12 mb-4">
                <div class="card shadow d-flex flex-row">
                    <div class="rounded-circle m-4 align-self-center list-thumbnail-letters small">
                        <i class="iconsminds-notepad h6"></i>
                    </div>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="headerSemiBold h6 mb-2">Live Classes</p>
                                <!-- <a href="https://whereby.com/company" routerLinkActive="active"
                                    class="btn btn-xs btn-outline-primary labelTitle" target="_blank">View All</a> -->
                                <a routerLink="/student/liveclass" routerLinkActive="active"
                                    class="btn btn-xs btn-outline-primary labelTitle">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-12 mb-4">
                <div class="card shadow d-flex flex-row">
                    <div class="rounded-circle m-4 align-self-center list-thumbnail-letters small">
                        <i class="simple-icon-bubbles"></i>
                    </div>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="headerSemiBold h6 mb-2">My Chat</p>
                                <a routerLink="/student/chat" routerLinkActive="active"
                                    class="btn btn-xs btn-outline-primary labelTitle">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-12 mb-4">
                <div class="card shadow d-flex flex-row">
                    <div class="rounded-circle m-4 align-self-center list-thumbnail-letters small">
                        <i class="iconsminds-bar-chart-4 h6"></i>
                    </div>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="headerSemiBold h6 mb-2">Polls</p>
                                <a routerLink="/student/pollslist" routerLinkActive="active"
                                    class="btn btn-xs btn-outline-primary labelTitle">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-12 mb-5">
                <div class="card shadow d-flex flex-row">
                    <div class="rounded-circle m-4 align-self-center list-thumbnail-letters small">
                        <i class="iconsminds-conference h6"></i>
                    </div>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="headerSemiBold mb-2 h6">Forum & Discussions</p>
                                <a routerLink="/student/forum" routerLinkActive="active"
                                    class="btn btn-xs btn-outline-primary labelTitle">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-0">
                <!-- <h6 class="headerSemiBold">
                    News
                </h6> -->

                <!-- <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a> -->
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="row mb-4">
                            <div class="col-md-12 mb-4 pl-0 pr-0">
                                <div class="owl-container">
                                    <div class="owl-carousel basic owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage">
                                                
                                                <div class="owl-item">
                                                    <div class="card">
                                                        <div class="position-relative">
                                                            <img class="card-img-top" src="../../../assets/img/subpage-video-poster.jpg"> 
                                                        </div>
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Graphics</h6>
                                                            <footer>
                                                                <a routerLink="/student/topic" routerLinkActive="active" class="btn btn-xs btn-outline-primary">Explore</a>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item">
                                                    <div class="card">
                                                        <div class="position-relative">
                                                            <img class="card-img-top" src="../../../assets/img/subpage-video-poster.jpg"> 
                                                        </div>
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Graphics</h6>
                                                            <footer>
                                                                <a routerLink="/student/topic" routerLinkActive="active" class="btn btn-xs btn-outline-primary">Explore</a>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item">
                                                    <div class="card">
                                                        <div class="position-relative">
                                                            <img class="card-img-top" src="../../../assets/img/subpage-video-poster.jpg"> 
                                                        </div>
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Graphics</h6>
                                                            <footer>
                                                                <a routerLink="/student/topic" routerLinkActive="active" class="btn btn-xs btn-outline-primary">Explore</a>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="owl-item">
                                                    <div class="card">
                                                        <div class="position-relative">
                                                            <img class="card-img-top" src="../../../assets/img/subpage-video-poster.jpg"> 
                                                        </div>
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Graphics</h6>
                                                            <footer>
                                                                <a routerLink="/student/topic" routerLinkActive="active" class="btn btn-xs btn-outline-primary">Explore</a>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item">
                                                    <div class="card">
                                                        <div class="position-relative">
                                                            <img class="card-img-top" src="../../../assets/img/subpage-video-poster.jpg"> 
                                                        </div>
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Graphics</h6>
                                                            <footer>
                                                                <a routerLink="/student/topic" routerLinkActive="active" class="btn btn-xs btn-outline-primary">Explore</a>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!-- <div id="cor" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item text-center">
                            <div class="col-12">
                                <ul class="row days-list list-unstyled">
                                    <li class="day col-4">
                                        <p>Monday</p>
                                    </li>
                                    <li class="day col-4">
                                        <p>Tuesday</p>
                                    </li>
                                    <li class="day col-4">
                                        <p>Wednesday</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item text-center active">
                            <div class="col-12">
                                <ul class="row days-list list-unstyled">
                                    <li class="day col-4">
                                        <p>Thursday</p>
                                    </li>
                                    <li class="day col-4">
                                        <p>Friday</p>
                                    </li>
                                    <li class="day col-4">
                                        <p>Saturday</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!-- <div class="separator ml-1 mb-2 mr-3"></div> -->
                <!-- Top content -->
                <div *ngIf="news" class="top-content mb-4">
                    <div class="container-fluid">
                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                            <h6 class="headerSemiBold d-inline-block pl-3">
                                News
                            </h6>
                            <a class="float-right d-inline-block pr-4" href="#carousel-example" role="button" data-slide="next">
                                <span class="simple-icon-arrow-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <a class="float-right d-inline-block pr-2" href="#carousel-example" role="button" data-slide="prev">
                                <span class="simple-icon-arrow-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>

                            <div class="separator ml-3 mb-2 mr-3"></div>

                            <div class="carousel-inner row w-100 mx-auto p-0 m-0" role="listbox" style="flex-wrap: inherit;">
                                <div *ngFor="let newsCat of news; let i = index" class="carousel-item col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" [ngClass]="(i == 0 ) ? 'active' : ''">
                                    <div class="card shadow-sm cursor mb-1" (click)="newsNavigation(newsCat)">
                                        <div class="position-relative">
                                            <img class="card-img-top obj-cover" src="{{newsCat?.image}}" style="height: 128px;object-fit: fill;"> 
                                        </div>
                                        
                                        <div class="card-body">
                                            <h6 class="mb-2 headerSemiBold">
                                                {{newsCat.title | slice:0:20}}
                                                <span *ngIf="newsCat.title.length>=20">...</span>
                                            </h6>
                                            <p class="mb-0 text-justify scrollbar labelTitle">
                                                {{newsCat?.description | slice:0:135}}
                                                <span *ngIf="newsCat?.description.length>=135">...</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div *ngIf="!news" class="row mb-4 pl-3">
                    <h6 class="headerSemiBold pl-3">
                        News
                    </h6>
                    <div class="separator ml-1 mb-2 mr-3"></div>
                    <div class="col-12 col-sm-12 col-md-12 mx-auto my-auto">
                        <div class="card index-card">
                            <div class="card-body text-center form-side">
                                <p class="mb-3 text-center">
                                    <img *ngIf="instituteLogo" src="{{instituteLogo}}"
                                        class="img-thumbnail border-0 list-thumbnail align-self-center xsmall">
                                    <img *ngIf="!instituteLogo" src="../../../assets/img/favicon.png"
                                        class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall">
                                </p>
                                <p class="text-muted headerSemiBold">No News posted yet</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h6 class="headerSemiBold">
                    My Course Reviews

                    <a data-toggle="modal" data-target="#postReview" (click)="getCourseList()"
                        class="float-right headerSemiBold coral" style="cursor: pointer;">
                        <i class="simple-icon-star" style="font-weight: 900;"></i> Write
                        review
                    </a>

                </h6>

                <div class="separator ml-1 mb-2"></div>

                <div class="row mb-4">

                    <div class="col-12 col-sm-12 col-md-12 mx-auto my-auto" *ngIf="!reviews.length">
                        <div class="card index-card">
                            <div class="card-body text-center form-side">
                                <p class="mb-3 text-center">
                                    <img *ngIf="instituteLogo" src="{{instituteLogo}}"
                                        class="img-thumbnail border-0 list-thumbnail align-self-center xsmall">
                                    <img *ngIf="!instituteLogo" src="../../../assets/img/favicon.png"
                                        class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall">
                                </p>
                                <h6 class="text-muted headerSemiBold">No Review posted yet</h6>
                                <p class="card-title labelTitle">Start Write something</p>
                                <button type="button" class="btn btn-secondary default headerSemiBold"
                                    data-toggle="modal" data-target="#postReview" (click)="getCourseList()">Write
                                    review</button>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-12 mb-4"
                        *ngFor="let postReview of reviews | slice:0:3; ">
                        <a class="cursor" routerLink="/student/reviews">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="mb-2 br-wrapper br-theme-bootstrap-stars">
                                        <div class="br-widget br-readonly">
                                            <div class="simple-line-icons">

                                                <!-- <div [ngClass]="(postReview.rating >= 1 ) ? 'selected' : 'not-selected'"
                                                    class="glyph">
                                                    <div class="glyph-icon simple-icon-star font-weight-bold pr-1">
                                                    </div>
                                                </div> -->
                                                <i [ngClass]="(postReview.rating >= 1 ) ? 'dblu' : 'd7d7d7'" class="icon-star"></i>
                                                <i [ngClass]="(postReview.rating >= 2 ) ? 'dblu' : 'd7d7d7'" class="icon-star"></i>
                                                <i [ngClass]="(postReview.rating >= 3 ) ? 'dblu' : 'd7d7d7'" class="icon-star"></i>
                                                <i [ngClass]="(postReview.rating >= 4 ) ? 'dblu' : 'd7d7d7'" class="icon-star"></i>
                                                <i [ngClass]="(postReview.rating >= 5 ) ? 'dblu' : 'd7d7d7'" class="icon-star"></i>
                                                <!-- <div [ngClass]="(postReview.rating >= 2 ) ? 'selected' : 'not-selected'"
                                                    class="glyph">
                                                    <div class="glyph-icon simple-icon-star font-weight-bold pr-1">
                                                    </div>
                                                </div>
                                                <div [ngClass]="(postReview.rating >= 3 ) ? 'selected' : 'not-selected'"
                                                    class="glyph">
                                                    <div class="glyph-icon simple-icon-star font-weight-bold pr-1">
                                                    </div>
                                                </div>
                                                <div [ngClass]="(postReview.rating >= 4 ) ? 'selected' : 'not-selected'"
                                                    class="glyph">
                                                    <div class="glyph-icon simple-icon-star font-weight-bold pr-1">
                                                    </div>
                                                </div>
                                                <div [ngClass]="(postReview.rating >= 5 ) ? 'selected' : 'not-selected'"
                                                    class="glyph">
                                                    <div class="glyph-icon simple-icon-star font-weight-bold pr-1">
                                                    </div>
                                                </div> -->

                                            </div>
                                        </div>
                                    </div>
                                    <p class="mb-0 text-justify scrollbar labelTitle">
                                        {{postReview?.review | slice:0:120}}
                                        <span *ngIf="postReview?.review.length>=120">...</span>
                                    </p>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h6 class="headerSemiBold">
                    Support Request

                    <a (click)="getSupportRequestType()" class="float-right headerSemiBold coral" data-toggle="modal"
                        data-target="#supportRequest" style="cursor: pointer;">
                        <i class="glyph-icon iconsminds-support" style="font-weight: 900;"></i> Create request
                    </a>

                </h6>

                <div class="separator ml-1 mb-2"></div>

                <div class="row mb-4">

                    <div class="col-12 col-sm-12 col-md-12 mx-auto my-auto" *ngIf="!supportRequests">
                        <div class="card index-card">
                            <div class="card-body text-center form-side">
                                <p class="mb-3 text-center">
                                    <img *ngIf="instituteLogo" src="{{instituteLogo}}"
                                        class="img-thumbnail border-0 list-thumbnail align-self-center xsmall">
                                    <img *ngIf="!instituteLogo" src="../../../assets/img/favicon.png"
                                        class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall">
                                </p>
                                <h6 class="text-muted headerSemiBold">No ticket raised yet</h6>
                                <p class="card-title labelTitle">Start raising ticket / complaint for helping us to
                                    provide you better experience</p>

                            </div>
                        </div>
                    </div>

                    <div *ngFor="let supportRequest of supportRequests"
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-12 mb-4">
                        <div class="card shadow pointer" (click)="requestNavigate(supportRequest)">
                            <div class="card-body">
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p class="headerSemiBold h6">{{supportRequest?.name | slice:0:30}}
                                                    <span *ngIf="supportRequest?.name.length>=30">...</span>
                                                </p>
                                                <p class="text-muted mb-3 h6 labelTitle">#{{supportRequest?.id}}</p>
                                            </td>
                                            <td class="text-right h6">
                                                <div *ngIf="supportRequest.unreadCount > 0" data-toggle="tooltip" title="Unread message" class="d-flex min-width-zero noti">
                                                    <span>{{supportRequest?.unreadCount}}</span>
                                                </div>
                                                <p *ngIf="supportRequest.currentStatus == 0"
                                                    class="badge badge-pill badge-primary">Open</p>
                                                <p *ngIf="supportRequest.currentStatus == 1"
                                                    class="badge badge-pill badge-primary">Authority Assigned</p>
                                                <p *ngIf="supportRequest.currentStatus == 2"
                                                    class="badge badge-pill badge-primary">In Progress</p>
                                                <p *ngIf="supportRequest.currentStatus == 3"
                                                    class="badge badge-pill badge-success">Solved</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="headerSemiBold h6">Type</p>
                                                <p *ngIf="supportRequest?.type == 1"
                                                    class="text-muted mb-3 labelTitle h6">Subject</p>
                                                <p *ngIf="supportRequest?.type == 2"
                                                    class="text-muted mb-3 labelTitle h6">Topic</p>
                                                <p *ngIf="supportRequest?.type == 3"
                                                    class="text-muted mb-3 labelTitle h6">Content</p>
                                                <p *ngIf="supportRequest?.type == 4"
                                                    class="text-muted mb-3 labelTitle h6">Test</p>
                                                <p *ngIf="supportRequest?.type == 5"
                                                    class="text-muted mb-3 labelTitle h6">Practice</p>
                                                <p *ngIf="supportRequest?.type == 6"
                                                    class="text-muted mb-3 labelTitle h6">PDF</p>
                                                <p *ngIf="supportRequest?.type == 7"
                                                    class="text-muted mb-3 labelTitle h6">PPT</p>
                                                <p *ngIf="supportRequest?.type == 8"
                                                    class="text-muted mb-3 labelTitle h6">Audio</p>
                                                <p *ngIf="supportRequest?.type == 9"
                                                    class="text-muted mb-3 labelTitle h6">Video</p>
                                            </td>
                                            <td>
                                                <p class="headerSemiBold h6">Course</p>
                                                <p class="text-muted labelTitle h6">
                                                    {{supportRequest?.detail?.title | slice:0:20}}
                                                    <span *ngIf="supportRequest?.detail?.length>=20">...</span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p class="headerSemiBold h6">Query</p>
                                                <p class="text-muted labelTitle h6">
                                                    {{supportRequest?.description | slice:0:50}}
                                                    <span *ngIf="supportRequest?.description?.length>=50">...</span>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-xs-6 col-lg-6 col-12 mb-4">
                        <div class="card shadow pointer" (click)="requestNavigate(1)">
                            <div class="card-body">
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p class="headerSemiBold h5">General Chapters</p>
                                                <p class="text-muted mb-3 h5 labelTitle">#5462145</p>
                                            </td>
                                            <td class="text-right h5">
                                                <p class="badge badge-pill badge-success">SOLVED</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="headerSemiBold h5">Type</p>
                                                <p class="text-muted mb-3 h5 labelTitle">Subject</p>
                                            </td>
                                            <td>
                                                <p class="headerSemiBold h5">Course</p>
                                                <p class="text-muted h5 labelTitle">Science & Fiction</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p class="headerSemiBold h5">Query</p>
                                                <p class="text-muted labelTitle h5">How i can buy all content of the
                                                    subject?</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>

    </div>
</main>

<div class="modal fade modal-top" id="supportRequest" tabindex="-1" role="dialog" aria-labelledby="supportRequest"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title headerSemiBold">Create Ticket</h6>
                <button id="closeSupportModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="headerSemiBold">Topic name</label>
                    <input type="text" [(ngModel)]="supportCreate.name" class="form-control labelTitle"
                        placeholder="Enter Topic name">
                </div>
                <div class="form-group">
                    <label class="headerSemiBold">Type</label>
                    <select id="inputState" class="form-control labelTitle" [(ngModel)]="supportCreate.typeId"
                        (change)="getSupportCourse(supportCreate.typeId)">
                        <option [ngValue]="undefined" disabled>Select Type</option>
                        <option *ngFor="let supportRequestsType of supportRequestsTypes; let i = index"
                            [ngValue]="supportRequestsType.type">
                            <p>{{supportRequestsType?.title}}</p>
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="headerSemiBold">Select Course</label>
                    <select id="inputState" class="form-control labelTitle" [(ngModel)]="supportCreate.courseId">
                        <option [ngValue]="undefined" disabled>Select Course</option>
                        <option *ngFor="let supportCourse of supportCourses" [ngValue]="supportCourse.id">
                            {{supportCourse?.title}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="headerSemiBold">Topic Description</label>
                    <textarea class="form-control labelTitle" rows="4" [(ngModel)]="supportCreate.description"
                        placeholder="Description"></textarea>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button (click)="createSupportRequest()" type="button"
                    class="btn btn-secondary default headerSemiBold float-right">
                    Create Ticket
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-top" id="postReview" tabindex="-1" role="dialog" aria-labelledby="postReview"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title headerSemiBold">Post your review</h6>
                <button id="closePostReview" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearReview()"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body pb-0">
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" (click)="setRating(5)" /><label class="full"
                        for="star5" title="Awesome - 5 stars"></label>

                    <input type="radio" id="star4" name="rating" value="4" (click)="setRating(4)" /><label class="full"
                        for="star4" title="Pretty good - 4 stars"></label>

                    <input type="radio" id="star3" name="rating" value="3" (click)="setRating(3)" /><label class="full"
                        for="star3" title="Good - 3 stars"></label>

                    <input type="radio" id="star2" name="rating" value="2" (click)="setRating(2)" /><label class="full"
                        for="star2" title="Kinda bad - 2 stars"></label>

                    <input type="radio" id="star1" name="rating" value="1" (click)="setRating(1)" /><label class="full"
                        for="star1" title="No not this - 1 star"></label>
                </fieldset>
            </div>
            <div class="modal-body pt-1">
                <div class="form-group">
                    <label class="headerSemiBold">Subject</label>
                    <select id="inputState" class="form-control labelTitle" [(ngModel)]="subjectId">
                        <option [ngValue]=0 selected disabled>Select Subject</option>
                        <option *ngFor="let courseList of courseLists" [ngValue]="courseList.id">{{courseList.title}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="headerSemiBold">Say something about your experience</label>
                    <textarea class="form-control labelTitle" [(ngModel)]="reviewDescription" rows="4"
                        placeholder="Write something"></textarea>
                </div>
                <p class="alert alert-danger labelTitle" role="alert" *ngIf="errorMessage!=''">{{errorMessage}}</p>

            </div>

            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary default headerSemiBold float-right"
                    (click)="submitReview()">
                    Post review
                </button>
            </div>
        </div>
    </div>
</div>