<!-- <main class="default-transition">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">

                <div class="row">

                    <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4">
                        <div class="card d-flex flex-row">
                            <div class="d-flex flex-grow-1 min-width-zero ml-4">
                                <div
                                    class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <p class="font-weight-bold mb-1 truncate">Bangalore</p>
                                        <p class="mb-2 text-muted text-small">Raj Sahu</p>
                                        <p class="mb-2 text-muted text-small">+91 7697439839</p>
                                        <p class="mb-2 text-muted text-small">
                                            5, 2ND FLOOR, APT NO 38, 6TH MAIN, 14TH CROSS, NS PALYA, BTM 2ND STAGE,
                                            BANGALORE, 560076, KA, INDIA
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4">
                        <div class="card d-flex flex-row">
                            <div class="d-flex flex-grow-1 min-width-zero ml-4">
                                <div
                                    class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <p class="font-weight-bold mb-1 truncate">Surat</p>
                                        <p class="mb-2 text-muted text-small">Support Agent</p>
                                        <p class="mb-2 text-muted text-small">+91 8401561400</p>
                                        <p class="mb-2 text-muted text-small">
                                            417, BytezTech, Billenium Business Corner,Yogi Chowk, Surat, Gujarat 395006
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
<!-- //-------- Ends here ------- -->

<!-- <div class="row">
            <div class="col-12 col-md-12 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="h4">Bangalore Branch</p>
                        <div class="separator mb-2"></div>

                        <div class="d-flex flex-row align-items-center mb-3">
                            <i class="iconsminds-administrator large-icon initial-height"></i>
                              <div class="pl-3 pt-2 pr-2 pb-2">
                                <p class="list-item-heading mb-1">Raj</p>
                              </div>
                          </div>

                        <div class="d-flex flex-row align-items-center">
                            <i class="iconsminds-headphones large-icon initial-height"></i>
                            <div class="pl-3 pr-2 pb-2">
                                <p class="list-item-heading mb-1">+91 7697439839</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-3">
                          <i class="iconsminds-map2 large-icon initial-height"></i>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                              <p class="list-item-heading mb-1">5, 2ND FLOOR, APT NO 38, 6TH MAIN, 14TH CROSS, NS PALYA, BTM 2ND STAGE, BANGALORE, 560076, KA, INDIA</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="h4">Surat Branch</p>
                        <div class="separator mb-2"></div>

                        <div class="d-flex flex-row align-items-center mb-3">
                            <i class="iconsminds-administrator large-icon initial-height"></i>
                              <div class="pl-3 pt-2 pr-2 pb-2">
                                <p class="list-item-heading mb-1">Agent</p>
                              </div>
                          </div>

                        <div class="d-flex flex-row align-items-center">
                            <i class="iconsminds-headphones large-icon initial-height"></i>
                            <div class="pl-3 pr-2 pb-2">
                                <p class="list-item-heading mb-1">+ 91 9000000000</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-3">
                          <i class="iconsminds-map2 large-icon initial-height"></i>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                              <p class="list-item-heading mb-1">417, BBC, YOGICHOWK</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->

<!-- </div>
</main> -->





<main class="default-transition">
    <div class="container-fluid">
        <div class="card mb-4 mainCard">

            <div class="row">
                <div class="col-md-12">
                    <h1>Contact us</h1>
                </div>
            </div>

            <div class="separator mb-5"></div>

            <div class="row">
                <div class="col-12 list" data-check-all="checkAll">

                    <!-- *ngFor="let c of conatcts;let i=index;" -->
                    <div class="card d-flex flex-row mb-3 howerCard"> 
                        <a class="d-flex" style="padding: 25px;">
                            <!-- <img [src]="c?.branch?.account?.image" alt="image" class="list-thumbnail responsive border-0 card-img-left" style="width: auto;height: 65px;"/> -->
                            <img src="https://example.com/img/logo/logo.png" alt="image" class="list-thumbnail responsive border-0 card-img-left" style="width: auto;height: 65px;"/>
                        </a>
                        <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">Company Inc.</p>
                                </a>
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">Raj Sahu</p>
                                </a>
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">sales@example.com</p>
                                </a>
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">+14157078933</p>
                                </a>
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">340 S Lemon Ave <br> #9894 Walnut, <br>Ca 91789</p>
                                </a>
                                
                                <!-- <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">{{c?.branch?.account?.title}}</p>
                                </a>
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">{{c?.branch?.account?.email}}</p>
                                </a>
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">{{c?.branch?.account?.phone}}</p>
                                </a>
                                <a class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 ">{{c?.branch?.account?.city?.title}}
                                        {{c?.branch?.account?.country?.title}}
                                    </p>
                                </a> -->
                                <!-- <p class="mb-0 text-muted text-small w-15 w-sm-100">13.04.2018</p> -->
                                <!-- <p class="mb-0 text-muted text-small w-15 w-sm-100"></p> -->
                                <!-- <div class="w-15 w-sm-100">
                                    <ul class="eccom-social-icon list-inline">
                                        <li class="list-inline-item">
                                            <a href="#"><img alt="Twitter" src="../../../assets//img/Twitter.png"></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><img alt="Instagram" src="../../../assets//img/Instagram.png"></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><img alt="LinkedIN" src="../../../assets//img/LinkedIN.png"></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><img alt="Facebook" src="../../../assets//img/Facebook.png"></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><img alt="quora" src="../../../assets//img/quora 1.png"></a>
                                        </li>
                                    </ul>
                                    <span class="badge badge-pill badge-primary">PROCESSED</span>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>