<nav class="navbar fixed-top" style="border-bottom: 1px solid #d7d7d7;">
   
    <div class="d-flex align-items-center navbar-left">
        <a (click)="toggleSiderbar()" class="menu-button d-none d-md-block pointer">
            <img src="../../../assets/img/icons/menuHide.png" class="xsmall">
        </a>

        <a (click)="mobileSiderbar()" class="menu-button-mobile d-xs-block d-sm-block d-md-none pointer">
            <img src="../../../assets/img/icons/menuHide.png" class="xsmall" width="25">
        </a>
        <a routerLink="/student/dashboard">
            <img *ngIf="instituteImage" [src]="instituteImage" class="img-thumbnail list-thumbnail xsmall d-none d-md-block">
            <img *ngIf="!instituteImage" src="../../../assets/img/company.png" class="img-thumbnail list-thumbnail xsmall d-none d-md-block">
        </a>

    </div>

    <div class="headerSemiBold h6">{{instituteSelected?.name}}</div>

    <div class="navbar-right">
        <div class="user d-inline-block">
            <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="name labelTitle">{{ firstName }} {{lastName}}</span>
                <span>
                    <img class="prof mar-img-lf-0" alt="Profile" src="{{ image }}" (error)="defaultImage($event)"/>
                </span>
            </button>

            <div class="dropdown-menu dropdown-menu-right mt-3 labelTitle">
                <a class="dropdown-item" [routerLink]="['/student/setting']" [routerLinkActive]="['router-link-active']" >Feedback & Invoice</a>
                <a class="dropdown-item" [routerLink]="['/student/notifications']" [routerLinkActive]="['router-link-active']" >Notifications</a>
            </div>
        </div>
    </div>

</nav>