<div class="container">

	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card">
				<div class="body block-header">
					<div class="row">
						<div class="col-lg-6 col-md-8 col-sm-12">
							<h2 class="headerSemiBold">Manage Zoom Credential</h2>

							<ul class="breadcrumb p-l-0 p-b-0 labelTitle">
								<li class="breadcrumb-item">
									<a class="linkColor" routerLink="/" routerLinkActive="active"><i
											class="icon-home"></i></a>
								</li>
								<li class="breadcrumb-item active labelTitle">Zoom Credential</li>
							</ul>
						</div>

						<div class="col-lg-6 col-md-4 col-sm-12">
							<a routerLink="/userCreate" routerLinkActive="active"
								class="btn btn-secondary headerSemiBold btn-simple float-right active"><i
									class="icon-arrow-left"></i> BACK</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card">
				
				<div class="header headerSemiBold">
					<h2><span class="linkColor">Manage</span> Zoom Credential</h2>
				</div>
				
				<div class="body">
					<div class="demo-masked-input labelTitle">
						<div class="row clearfix">

							<div class="col-lg-4 col-md-4"> Select Branch | <a class="linkColor" [routerLink]="['/branch']" [routerLinkActive]="['router-link-active']">Create Branch</a>
								<div class="input-group">
									<select class="form-control" [(ngModel)]="branchId">
										<option [ngValue]="undefined" disabled>Select Branch</option>
										<option *ngFor="let branch of branchList;" [ngValue]="branch.id">
                                         {{branch.name}}
										</option>
									</select>
								</div>
                            </div>
                            
                            <div class="col-lg-4 col-md-4">JWT API Key
                                <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="apiKey" placeholder="JWT api key">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">JWT Secret Key
                                <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="apiSecret" placeholder="JWT secret key">
                                </div>
							</div>
							
							<div class="col-lg-4 col-md-4">SDK API Key
                                <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="androidApiKey" placeholder="SDK api key">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">SDK Secret Key
                                <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="androidApiSecret" placeholder="SDK secret key">
                                </div>
                            </div>

							<div class="col-lg-1 col-md-1"><b>&nbsp;</b>
								<div class="input-group">
									<input type="button" class="btn btn-secondary headerSemiBold float-right"
										value="{{ isEdit ? 'UPDATE' : 'SUBMIT'}}" style="margin:0px;"
										(click)="submitButtonClick();">
								</div>
							</div>

							<div class="col-lg-1 col-md-1"><b>&nbsp;</b>
								<div class="input-group">
									<input type="button" class="btn btn-warning headerSemiBold float-right"
										*ngIf="isEdit" value="CANCEL" style="margin:0px;" (click)="cancelEditClick();">
								</div>
							</div>

						</div>

						<div class="row clearfix">

							<div class="col-lg-12 col-md-12">
								<div class="input-group">
									Please follow the steps below to get the keys.<br>
									1. Purchase a paid plan from zoom.<br>
									2. Login here using the same credentials https://marketplace.zoom.us/develop/create.<br>
									3. Click on build app.<br>
									4. Create JWT and SDK credentials by filing in basic information. <br>
									5. Once you get all the key, copy, and paste here. <br>
									6. You are all set, assign an educator and start taking live sessions. <br><br>

									Still facing problem, please email us at support@example.com, we will respond within 2 business days.
								</div>
							</div>
						</div>
							
					</div>
				</div>
			</div>
		</div>
        
    </div>
    
    <div class="row clearfix">

        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="card">
    
            <div class="header headerSemiBold">
              <h2><span class="linkColor">BlueJeans</span> Users</h2>
            </div>
    
            <div class="body">
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable w-100">
                    <thead class="headerSemiBold">
                      <tr>
                        <th>#</th>
                        <th>S No</th>
                        <th>Branch</th>
                        <th>JWT Key</th>
						<th>JWT Secret</th>
						<th>SDK Key</th>
                        <th>SDK Secret</th>
                      </tr>
                    </thead>
                    <tbody class="labelTitle">
                        <tr *ngFor="let zoomCredential of zoomCredentialList;let i=index;">
							<td>
								<span class="badge badge-success" title="Update zoom credential" (click)="editButtonClick(zoomCredential.id)">
								<i class="icon-pencil"></i>
								</span>
								<!-- <span class="badge badge-danger" title="Delete zoom credential" (click)="deleteButtonClick(zoomCredential.id)">
								<i class="icon-trash"></i>
								</span> -->
							</td>
							<td>{{zoomCredentialList.length - i}}</td>
							<td>{{zoomCredential.branch_name}}</td>
							<td>
								<!-- {{zoomCredential.key}} -->
								******************************
							</td>
							<td>
								<!-- {{zoomCredential.secret}} -->
								******************************
							</td>
							<td>
								<!-- {{zoomCredential.androidkey}} -->
								******************************
							</td>
							<td>
								<!-- {{zoomCredential.androidSecret}} -->
								******************************
							</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        
    </div>
</div>