<div class="container">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="body block-header">
            <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-12">
                <h2 class="headerSemiBold">Manage SMS</h2>
                
                <ul class="breadcrumb p-l-0 p-b-0 labelTitle">
                    <li class="breadcrumb-item">
                      <a class="linkColor" routerLink="/" routerLinkActive="active"><i class="icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item active labelTitle">SMS</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <a routerLink="/" routerLinkActive="active" class="btn btn-secondary headerSemiBold btn-simple float-right">
                      <i class="icon-arrow-left"></i> BACK
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row clearfix">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          
          <div class="header headerSemiBold">
            <h2><span class="linkColor">Manage</span> SMS</h2>
          </div>
          
          <div class="body">
            <div class="demo-masked-input labelTitle">
              <div class="row clearfix">
                
                <div class="col-lg-4 col-md-4">Select Institute
                  <div class="input-group">
                    <select class="form-control" [(ngModel)]="instituteId">
                      <option [ngValue]="undefined" disabled>Select Institute</option>
                      <option *ngFor="let institute of instituteList" [ngValue]="institute.account_id">
                        {{institute.account_title}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">SMS
                  <div class="input-group">
                    <input type="number" class="form-control" [(ngModel)]="sms" placeholder="Enter no of sms">
                  </div>
                </div>
                <div class="col-lg-1 col-md-1"><b>&nbsp;</b>
                  <div class="input-group">
                    <input type="button" class="btn btn-secondary headerSemiBold float-right" value="{{ isEdit ? 'UPDATE' : 'SUBMIT'}}"
                      style="margin:0px;" (click)="submitButtonClick();">
                  </div>
                </div>
                <div class="col-lg-1 col-md-1"><b>&nbsp;</b>
                  <div class="input-group">
                    <input type="button" class="btn btn-warning headerSemiBold float-right" *ngIf="isEdit" value="CANCEL"
                      style="margin:0px;" (click)="cancelEditClick();">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>