.iconsminds-up{
    transform: rotate(-90deg);
}
.iconsminds-up:before{
    transform: rotate(-90deg);
    font-size: 20px;
}

@media (min-width:992px){
    .cent{
        text-align: center;
    }
    .rght{
        float: right !important;
    }
}
@media (max-width:991px){
    .cent{
        padding: 15px 0px;
    }
}
