<div class="container">

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12">
                            <h2 class="headerSemiBold">Manage Question</h2>

                            <ul class="breadcrumb p-l-0 p-b-0 labelTitle">
                                <li class="breadcrumb-item">
                                    <a class="linkColor" routerLink="/" routerLinkActive="active"><i
                                            class="icon-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active labelTitle">Question</li>
                            </ul>

                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-12">
                            <a routerLink="/paper" routerLinkActive="active"
                                class="btn btn-secondary headerSemiBold float-right">
                                <i class="icon-arrow-left"></i> BACK
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">

                <div class="header headerSemiBold">
                    <h2><span class="linkColor">Manage</span> Questions</h2>
                </div>

                <div class="body">
                    <div class="demo-masked-input labelTitle">

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4">Select Course Bundle
                                <div class="input-group">
                                    <select class="form-control cursor" [(ngModel)]="subjectId">
                                        <option [ngValue]="undefined" disabled>Select Subject</option>
                                        <option *ngFor="let subject of subjectList" [ngValue]="subject.id">
                                            {{ subject?.title }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">Select Question Type
                                <div class="input-group">
                                    <select class="form-control cursor" [(ngModel)]="questionType" (change)="clearSelected()">
                                        <option [ngValue]="undefined" disabled>Select Type</option>
                                        <option value="1">MCQ</option>
                                        <option value="2">Multi Checkbox</option>
                                        <option value="3">Fill in the blank</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2">Marks
                                <div class="input-group">
                                    <input type="number" class="form-control" [(ngModel)]="mark"
                                        placeholder="Enter question mark">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2">Duration in min
                                <div class="input-group">
                                    <input type="number" class="form-control" [(ngModel)]="duration"
                                        placeholder="Enter question duration">
                                </div>
                            </div>
                        </div>

                        <!-- Question -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12">
                                <span class="linkColor headerBold">Question
                                </span>


                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="input-group">
                                    <div class="radio">
                                        
                                        <div class="d-inline-block" *ngIf="questionMediaImage"><b>&nbsp;</b>
                                            <div class="input-group">
                                                <img [src]="questionMediaImage" alt="assets/images/my-image/choose-file.png"
                                                    data-holder-rendered="true" id="ImagePreview" style="height:50px" />
                                                <i class="cursor icon-close float-right" (click)="removeQuestionImage();"></i>
                                            </div>

                                        </div>
                            
                                        <div class="d-inline-block">
                                            <div class="input-group">
                                                <i *ngIf="!questionMediaImage" class="icon-picture cursor" (click)="openFileUpload('input-typeYourQuestion')"></i>
                                                <input id="input-typeYourQuestion" type="file" class="form-control d-none" accept="image/jpeg, image/png"
                                                    (change)="questionFileChanged($event)" autofocus="true">
                                            </div>
                                        </div>
                                        
                                        &nbsp;
                                        <!-- <i class="" (click)="showDescription(0);idToInsert('typeYourQuestion')">
                                        </i> -->
                                        <ng-katex class="cursor" [equation]="fx" (click)="showDescription('typeYourQuestion');idToInsert('typeYourQuestion');mathSperatetext('typeYourQuestion')"></ng-katex>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10">
                                <div class="">
                                    <div class="btnb">
                                        <button class="Bold bbtn">B</button>
                                        <button class="Italic bbtn">I</button>
                                        <button class="underLine bbtn">U</button>
                                        <button class="strike bbtn">Strike</button>
                                    </div>
                                    <div id="typeYourQuestion" class="w-100 div-textArea inpt-txt m-0" contenteditable></div>

                                    <!-- <div id="typeYourQuestion" class="math-fld" (click)="mathSperatetext('typeYourQuestion')">
                                    </div>
                                    <div id="typeYourQuestion-n" class="d-none" [(ngModel)]="question"></div> -->
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 m-t-25 linkColor headerSemiBold"> Right Answer </div>
                            <div class="col-lg-10 col-md-10 m-t-25 linkColor headerSemiBold"> Type Answer </div>
                        </div>
                        <!-- Question -->

                        <!-- Answer -->
                        <div class="row clearfix" *ngFor="let answer of answerList; let i = index">
                            
                            <div class="col-lg-2 col-md-2">
                                <div class="input-group">
                                    <div class="">
                                        <input type="checkbox" [(ngModel)]="answer.isSelected" name="rightAnswer" id="rightAnswer{{ i+1 }}" class="with-gap cursor"
                                            value="1" (change)="setAnswer(answer);">
                                        <label for="rightAnswer{{ i+1 }}" style="padding-left: 5px;">Answer {{ i+1 }}</label>

                                        &nbsp;
                                        <i class="icon-picture cursor" (click)="openFileUploadForAnswer(i+1)"></i>
                                        <input id="input-{{i+1}}" type="file" class="form-control d-none" accept="image/jpeg, image/png"
                                                    (change)="answerFileChanged($event ,i)" autofocus="true">

                                        &nbsp;
                                        <!-- <i class="icon-close" (click)="removeAnswer(i);" *ngIf="answerList.length>2"></i> -->

                                        &nbsp;
                                        <ng-katex class="cursor" [equation]="fx" (click)="showDescription(i+1);idToInsert(i+1);mathSperatetext(i+1)"></ng-katex>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 input-group">
                                <div [ngClass]="answer.image !='' ? 'd-none': ''" class="w-95">
                                        <div class="btnb">
                                            <button class="Bold-{{i*2}} bbtn">B</button>
                                            <button class="Italic-{{i*2}} bbtn">I</button>
                                            <button class="underLine-{{i*2}} bbtn">U</button>
                                            <button class="strike-{{i*2}} bbtn">Strike</button>
                                        </div>
                                        <div id="{{i+1}}" class="w-100 div-textArea inpt-txt m-0" contenteditable></div>

                                        <!-- <div id="{{i+1}}" class="math-fld" (click)="mathSperatetext(i+1)">
                                        </div>
                                        <div id="{{i+1}}-n" class="d-none"></div> -->
                                </div>
                                <div [ngClass]="answer.image =='' ? 'd-none': ''">
                                    <img [src]="answer.image" alt="assets/images/my-image/choose-file.png"
                                        data-holder-rendered="true" id="ImagePreview" style="height:50px" />
                                </div>
                                <i class="cursor icon-close float-right" (click)="removeAnswer(i);" *ngIf="answerList.length>1"></i>

                            </div>
                        </div>
                        <!-- Answer -->

                        <div class="row clearfix">

                            <div class="col-lg-2 col-md-2" *ngIf="answerList.length<5"><b>&nbsp;</b>
                                <div class="input-group">
                                    <input type="button" class="btn btn-warning headerSemiBold float-right"
                                        value="Add Answer" style="margin:0px;" (click)="addAnswerClick();">
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4" *ngIf="isEdit">Status
                                <div class="input-group">
                                    <div class="radio inlineblock m-r-20" style="margin-top:10px;">
                                        <input type="radio" [(ngModel)]="status" name="status" id="active"
                                            class="with-gap" value="0">
                                        <label for="active">Active</label>
                                    </div>
                                    <div class="radio inlineblock" style="margin-top:10px;">
                                        <input type="radio" [(ngModel)]="status" name="status" id="inactive"
                                            class="with-gap" value="1">
                                        <label for="inactive">Inactive</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-1 col-md-1"><b>&nbsp;</b>
                                <div class="input-group">
                                    <input type="button" class="btn btn-secondary headerSemiBold float-right"
                                        value="{{ isEdit ? 'UPDATE' : 'SUBMIT' }}"
                                        style="margin:0px;" (click)="submitButtonClick();">
                                </div>
                            </div>

                            <div class="col-lg-1 col-md-1"><b>&nbsp;</b>
                                <div class="input-group">
                                    <input type="button" class="btn btn-warning headerSemiBold float-right"
                                        *ngIf="isEdit" value="CANCEL" style="margin:0px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="questionLists?.length">
            <div class="card">
                <div class="header headerSemiBold">
                    <div class="row clearfix">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <h2>
                                <span class="linkColor">Available</span> Questions
                            </h2>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                            <ul class="header-dropdown" style="top: 0px;">
            
                              <li [ngClass]="filter ? 'dropdown show' : 'dropdown'">
            
                                <a href="javascript:void(0);" class="dropdown-toggle mr-4 linkColor" data-toggle="dropdown" role="button" (click)="dropDownFilter();" aria-haspopup="true" aria-expanded="false">
                                  Manage columns
                                </a>
            
                                <ul class="dropdown-menu dropdown-menu-right labelTitle">
            
                                  <li class="p-2">
                                    <input type="checkbox" [(ngModel)]="columSubject"><span class="pl-2">Bundle</span>  <br>
                                    <input type="checkbox" [(ngModel)]="columType"><span class="pl-2">Type</span>  <br>
                                    <input type="checkbox" [(ngModel)]="columImage"><span class="pl-2">Image</span>  <br>
                                    <input type="checkbox" [(ngModel)]="columQuestion"><span class="pl-2">Question</span>  <br>
                                    <input type="checkbox" [(ngModel)]="columMark"><span class="pl-2">Mark</span>  <br>
                                    <input type="checkbox" [(ngModel)]="columDuration"><span class="pl-2">Duration</span>  <br>
                                    <input type="checkbox" [(ngModel)]="columStatus"><span class="pl-2">Status</span> 
                                  </li>
            
                                </ul>
            
                              </li>
            
                            </ul>
            
                          </div>
                    </div>
                </div>

                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable w-100">
                            <thead class="headerSemiBold">
                                <tr>
                                    <th>#</th>
                                    <th>S No</th>
                                    <th [ngClass]="(columSubject == false)?'d-none':''">Bundle</th>
                                    <th [ngClass]="(columType == false)?'d-none':''">Type</th>
                                    <th [ngClass]="(columImage == false)?'d-none':''">Image</th>
                                    <th [ngClass]="(columQuestion == false)?'d-none':''">Question</th>
                                    <th [ngClass]="(columMark == false)?'d-none':''">Mark</th>
                                    <th [ngClass]="(columDuration == false)?'d-none':''">Duration</th>
                                    <th [ngClass]="(columStatus == false)?'d-none':''">Status</th>
                                </tr>
                            </thead>
                            <tbody class="labelTitle">
                                <tr *ngFor="let question of questionLists ;let i=index;">
                                    <td>
                                        <span class="badge badge-danger cursor" title="Delete question"
                                            (click)="deleteButtonClick(question.id)" *ngIf="userType == 1">
                                            <i class="icon-trash"></i>
                                        </span>
                                    </td>
                                    <td>{{questionLists?.length - i}}</td>
                                    <td [ngClass]="(columSubject == false)?'d-none':''">{{ question?.subject?.title }}</td>
                                    <td [ngClass]="(columType == false)?'d-none':''">
                                        <span *ngIf="question?.question_type==1">MCQ</span>
                                        <span *ngIf="question?.question_type==2">Checkbox</span>
                                        <span *ngIf="question?.question_type==3">Fill in the blank</span>
                                    </td>
                                    <td [ngClass]="(columImage == false)?'d-none':''">
                                        <img class="cursor" *ngIf="question?.questionMedia" src="{{question?.questionMedia}}" style="height:30px" (click)="imagePreview(question.questionMedia)"/>
                                    </td>
                                    <td [ngClass]="(columQuestion == false)?'d-none':''">
                                        <div [innerHtml]="question?.question"></div>
                                    </td>
                                    <td [ngClass]="(columMark == false)?'d-none':''">{{ question?.mark}}</td>
                                    <td [ngClass]="(columDuration == false)?'d-none':''">{{ question?.duration}}</td>
                                    <td [ngClass]="(columStatus == false)?'d-none':''">
                                        <span
                                            class="badge badge-{{ question.status==0 ? 'success' : 'warning' }}">
                                            {{ question.status==0 ? 'Active' : 'Inactive' }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="questionLists?.length >= (page*limit)" class="text-center">
                        <div class="btn btn-secondary headerSemiBold" (click)="getQuestion(page+1,limit)">View more</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Popup -->

<div class="modal" [style.display]="selectedDescription ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="headerBold">Add math Equation</h6>
            </div>

            <div class="modal-body labelTitle">

                <div id="typeEquation" class="typeEquation"></div>
                <div id="equationString" class="d-none"></div>
                <div style="min-height: 60px;">
                <button class="btn btn-secondary float-left" (click)="insert()">Insert</button>

                    <ul class="nav nav-tabs float-right" style="padding: 5px 0px;">
                        <li class="nav-item"><a class="nav-link btn-math active" data-toggle="tab" href="#Basic">Basic</a></li>
                        <li class="nav-item"><a class="nav-link btn-math" data-toggle="tab" href="#Greek">Greek</a></li>
                        <li class="nav-item"><a class="nav-link btn-math" data-toggle="tab" href="#Advance">Advance</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane in active" id="Basic">
                        <div class="row clearfix p-3">
                            <button class="btn-la" *ngFor="let basic of basicButtons"
                                (click)="onClickMathButton($event, basic)">
                                <ng-katex [equation]="basic.displayContent"></ng-katex>
                            </button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Greek">
                        <button class="btn-la" *ngFor="let greek of greekButtons"
                            (click)="onClickMathButton($event, greek)">
                            <ng-katex [equation]="greek.displayContent"></ng-katex>
                        </button>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Advance">
                        <button class="btn-la" *ngFor="let advance of advanceButtons"
                            (click)="onClickMathButton($event, advance)">
                            <ng-katex [equation]="advance.displayContent"></ng-katex>
                        </button>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary headerSemiBold" data-dismiss="modal"
                    (click)="hideDescription()">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" [style.display]="previewAnswer ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-body labelTitle">
            <!-- <ng-katex [equation]="previewAnswer"></ng-katex> -->
            <div [innerHtml]="previewAnswer"></div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary headerSemiBold" data-dismiss="modal"
            (click)="hidePreviewAnswer()">Close</button>
        </div>
  
      </div>
    </div>
  </div>

<div class="modal" [style.display]="previewImage ? 'block' : 'none'">
<div class="modal-dialog modal-lg">
    <div class="modal-content">

    <div class="modal-body labelTitle">
        <img class="img-pre" [src]="previewImage">
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary headerSemiBold" data-dismiss="modal"
        (click)="hidePreviewImage()">Close</button>
    </div>

    </div>
</div>
</div>
<!--Modal Popup -->
