<main class="default-transition" style="opacity: 1;">
  <div class="container-fluid disable-text-selection">
      <div class="row">
          <div class="col-12">

              <div class="row">
                  <div class="col-xs-12 col-lg-12 col-12 mb-3">
                      <div class="row m-0 p-0">
                          <div class="col-md-12 col-lg-4 col-sm-12 p-0">
                              <h6>
                                  <a class="text-muted cursor" (click)="goBack()"><i class="iconsminds-up"></i> Back</a>
                              </h6>
                          </div>
                          <div class="col-md-12 col-lg-4 col-sm-12 p-0">
                              <h6 class="cent headerSemiBold">
                                  Test List
                              </h6>
                          </div>
                      </div>
                      <!-- <div class="card">
                          <img class="card-img" src="../../../assets/img/icons/background.png" style="border-radius: 0px;">
                          <div class="card-img-overlay text-center" style="color:#3a3a3a">
                              <h1 class="welcomeFont mt-4">Test list</h1>
                          </div>
                      </div> -->
                  </div>
              </div>

              <div class="row mb-4" *ngIf="tests == null">
                  <div class="col-12 col-sm-12 col-md-12 mx-auto my-auto">
                      <div class="card index-card">
                          <div class="card-body text-center form-side">
                              <p class="mb-3 text-center">
                                  <img *ngIf="instituteLogo" src="{{instituteLogo}}"
                                      class="img-thumbnail border-0 list-thumbnail align-self-center xsmall">
                                  <img *ngIf="!instituteLogo" src="../../../assets/img/favicon.png"
                                      class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall">
                              </p>
                              <h6 class="headerSemiBold">No test list yet</h6>
                              <p class="text-muted labelTitle">Coming soon!</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row" *ngIf="tests != null">
                  <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4" *ngFor="let test of tests; let i=index">

                      <div (click)="requestNavigate(test)" class="card pointer shadow mb-4">
                          <div class="card-body m-170">
                              <h6 class="mb-3 headerSemiBold">
                                  {{test.title | slice:0:65}}
                                  
                                  <span *ngIf="test.title.length>=65">...</span>
                              </h6>
                              <!-- <p class="text-justify scrollbar  labelTitle">
                                  {{test.description | slice:0:100}}
                                  <span *ngIf="test.description.length>=100">...</span>
                              </p> -->
                              <div class="btn-link mb-2">
                                  <p>
                                      <span class="labelTitle text-muted">
                                          <img src="../../../assets/img/icons/comm.png" style="height:15px;"> 
                                          {{test.questionCount}} Questions | {{test.timedTest? test.duration + ' Min' : ' Untimed Test' }}
                                      </span>
                                  </p>
                                  
                              </div>
                              <div *ngIf="!test.isPaid" class="float-right headerSemiBold rating">
                                  <span class="headerSemiBold text-muted">
                                      <img src="../../../assets/img/icons/toa@2x.png" style="height: 17px; width: 15px;"> Free
                                  </span>
                              </div>
                              <div *ngIf="test.isPaid && test.purchase==null && test.amount" class="float-right headerSemiBold rating">
                                  <span class="headerSemiBold" style="color:#FF7A59"  >
                                      {{test?.currency?.sign}} {{ test.amount }}.00
                                  </span>
                              </div>
                              <div *ngIf="test.testResult==null" class="float-left headerSemiBold rating">
                                  <span *ngIf="test.isPaid && test.purchase==null" class="headerSemiBold" style="color:#FF7A59"  >
                                      Buy now
                                  </span>
                                  <span *ngIf="!(test.isPaid && test.purchase==null)" class="headerSemiBold" style="color:#FF7A59"  >
                                      Take test
                                  </span>
                              </div>
                              <div *ngIf="test.testResult!=null" class="float-left headerSemiBold rating">
                                  <span class="headerSemiBold" style="color:#FF7A59"  >
                                      View result
                                  </span>
                              </div>
                              
                          </div>
                      </div>
                      <button class="d-none" id="testModalBtn" data-toggle="modal" data-backdrop="static" data-target="#testPayment">Subscribe</button>

                  </div>
              </div>
              
          </div>
      </div>
  </div>
</main>

<div class="modal fade modal-top" id="testPayment" tabindex="-1" role="dialog" aria-labelledby="testPayment" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h6 class="headerSemiBold">{{testInfo.title}}</h6>
              <button id="closeTestpay" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="payementModalClose()"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
              <p class="text-justify labelTitle" [innerHTML]="testInfo?.preview"></p>
          </div>
          <div class="modal-footer text-center" style="display: block;">
              <p *ngIf="testInfo?.paymentGateWayName != 'OfflinePay'" class="text-justify labelTitle">By clicking on continue you agree to subscribe to the course</p>
              <button *ngIf="(testInfo?.paymentGateWayName != 'OfflinePay') && !payPalPay" type="button" class="btn btn-secondary default headerSemiBold" (click)="payementDetails('test',testInfo)">
                  CONTINUE TO PAY {{testInfo?.currency?.sign}} {{testInfo?.amount}}.00
              </button>
              <div *ngIf="testInfo?.paymentGateWayName == 'OfflinePay'">
                  <p class="headerSemiBold m-0">OfflinePay</p>
                  <p class="text-center labelTitle m-0">Please contact your institute for more details</p>
              </div>
              <app-payment-gate-way (payementDetails)="afterPayment($event)"></app-payment-gate-way>
          </div>
      </div>
  </div>
</div>
