<main *ngIf="categoryId" class="default-transition" style="opacity: 1;">
  <div class="container-fluid disable-text-selection">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="row m-0 p-0">
                    <div class="col-md-12 col-lg-1 col-sm-12 p-0">
                        <h6>
                            <a class="text-muted cursor" (click)="goBack()"><i class="iconsminds-up"></i> Back</a>
                        </h6>
                    </div>
                    <div class="col-md-12 col-lg-10 col-sm-12 p-0">
                        <h6 class="cent headerSemiBold">
                            {{subjectLists?.title}}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-2">
                <!-- <div *ngIf="subjectLists?.subjects?.length" class="row mb-4">
                    <div class="col-xs-12 col-lg-12 col-12 mb-4">
                    <div class="card">
                        <img class="card-img" src="../../../assets/img/icons/background.png" style="border-radius: 0px;">
                        <div class="card-img-overlay text-center" style="color:#3a3a3a">
                            <h1 class="welcomeFont mt-4">{{subjectLists?.title}}</h1>
                        </div>
                    </div>
                    </div>
                </div> -->
                <div *ngIf="!subjectLists?.subjects?.length" class="row mb-4">
                    <div class="col-12 col-sm-12 col-md-12 mx-auto my-auto">
                    <div class="card index-card">
                        <div class="card-body text-center form-side">
                            <p class="mb-3 text-center">
                                <img *ngIf="instituteLogo" src="{{instituteLogo}}"
                                    class="img-thumbnail border-0 list-thumbnail align-self-center xsmall">
                                <img *ngIf="!instituteLogo" src="../../../assets/img/favicon.png"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall">
                            </p>
                            <h6 class="card-title font-weight-bold">No content added here</h6>
                            <p class="text-muted">Will get more info shortly</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row mb-4">

                    <div (click)="navigateUrl(subject.id)" class="col-xs-12 col-lg-4 col-12 mb-4" *ngFor="let subject of subjectLists?.subjects">
                        <div class="card shadow pointer">
                            <div class="card-body">
                                <h6 class="mb-3 headerSemiBold">
                                    {{subject.title | slice:0:25}}
                                    <span *ngIf="subject?.title.length>=25">...</span>
                                </h6>
                                <p class="text-justify labelTitle">
                                {{subject?.description | slice:0:115}}
                                <span *ngIf="subject?.description.length>=115">...</span>
                                </p>
                                <div class="headerSemiBold">{{subject?.articleCount}} Article</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</main>
