<main *ngIf="pollId" class="default-transition" style="opacity: 1;">
    <div class="container-fluid disable-text-selection">
      <div>
        <div class="row mt-2">
          <div class="col-md-12 col-lg-1 col-sm-12 text-muted mb-3 cursor">
              <h6><a class="text-muted" (click)="goBack()"><i class="iconsminds-up"></i> Back</a></h6>
          </div>
          <div class="col-md-12 col-lg-11 col-sm-12">
            <h6 class="headerSemiBold cent mb-4">
              {{poll?.title}}
            </h6>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 col-12">
            <div class="card mb-3">
              <div class="card-body">
                <!-- <div class="mb-2 headerSemiBold">{{poll?.title}}</div> -->
                <p class="text-muted labelTitle">Cast your vote</p>
  
                <!-- <ol type="A" class="pl-3">
                  <li *ngFor="let pollOptions of poll?.pollOptions; let optionIndex = index" [ngClass]="pollOptions.selected ? 'select-ans-bk' : 'nt-select-ans'" class="mb-2 pl-2 headerSemiBold cursor" id="vote-{{pollOptions.id}}" (click)="getPollsresult(pollOptions)">
                    <span class="clr">{{pollOptions.option}}</span>
                    <span [ngClass]="'clr-crcl-'+optionIndex" class="float-right"></span>
                  </li>
                </ol> -->

                <div class="mb-2 headerSemiBold" *ngFor="let pollOptions of poll?.pollOptions; let optionIndex = index">
                  <label [ngClass]="pollOptions.selected ? 'select-ans-bk' : 'nt-select-ans'" class="w-100 option-bx m-0 check" [attr.for]="index">
                      <span style="left: 3%;font-size: 16px;">{{pollOptions.option}}</span>
                      <input type="checkbox" id="index" [(ngModel)]="pollOptions.selected" (click)="onSelect(pollOptions);">
                      <span class="checkmark"></span>
                  </label>
                </div>
                <div class="text-center pt-3" *ngIf="!pollsResult">
                  <!-- <h5 class="coral">Time left 01:30:00</h5> -->
                  <button type="button" class="btn headerSemiBold white coral-bk default" (click)="getPollsresult(answerSelected)">Submit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 col-12" *ngIf="pollsResult">
            <div class="card">
              <div class="card-body">
                <ol class="p-3 mb-0" type="A">
                  <li class="headerSemiBold" *ngFor="let option of poll?.pollOptions">
                    <div class="row mb-3">
                      <div class="col-xs-5 col-sm-5 col-md-8 col-lg-5 col-12 "> {{option?.option}} </div>
                      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-2 col-12 p-0"> {{option?.optionCount}} Votes</div>
                      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-2 col-12 p-0"> <span class="float-right">{{option?.per | number : '1.2-2'}} %</span> </div>
                      <div class="col-xs-3 col-sm-3 col-md-8 col-lg-3 col-12">
                        <div class="progress mt-1" style="height:10px">
                          <div  class="progress-bar" role="progressbar" attr.aria-valuenow="{{ option?.per }}" aria-valuemin="0"
                            aria-valuemax="100" [ngStyle]="{ 'width': option.per+'%'}"></div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-lg-6 col-12" *ngIf="!pollsResult">
            <div class="card">
              <div class="card-body subtxth">
                <div class="subtxt">
                  <div class="headerBold text-center">Submit your vote</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>