.clr-crcl-0{
    border-radius: 50%;
    width : 12px;
    height: 12px;
    background-color: red;
    margin: 4px;
}
.clr-crcl-1{
    border-radius: 50%;
    width : 12px;
    height: 12px;
    background-color: blue;
    margin: 4px;
}
.clr-crcl-2{
    border-radius: 50%;
    width : 12px;
    height: 12px;
    background-color: green;
    margin: 4px;
}
.clr-crcl-3{
    border-radius: 50%;
    width : 12px;
    height: 12px;
    background-color: yellow;
    margin: 4px;
}
.clr-crcl-4{
    border-radius: 50%;
    width : 12px;
    height: 12px;
    background-color: orange;
    margin: 4px;
}
.selected{
    background-color: coral;
}
.bcg-clr-f1{
    background-color: #f1f1f1;
}
.clr:hover{
    color: blue;
}
.select-ans-bk{
    background-color: #09c09f !important;
    border-radius: 8px !important;
    padding: 10px;
}
.nt-select-ans{
    background-color: #f4f8fa !important;
    color: #002c4f;
    border-radius: 8px !important;
    padding: 10px;
}
.iconsminds-up{
    transform: rotate(-90deg);
}
.iconsminds-up:before{
    transform: rotate(-90deg);
    font-size: 20px;
}

.select-ans-bk{
    background-color: #09c09f;
    color: white;
    border-radius: 8px;
}
.nt-select-ans{
    background-color: #f4f8fa;
    color: #002c4f;
    border-radius: 8px;
}
.coral-bk{
    background-color: coral;
}
.coral{
    color: coral;
}
.selected-bk{
    background-color: coral;
    color: white;
    display: inline-block !important;
}

.option-bx{
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}
.marked{
    background-color: coral !important;
    color: white !important;
}
.lt-gr {
    color: #09c09f;
}

.blue{
    color: #0a61a4;
}


/* for checkbox */
.check {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 30%;
    left: 3%;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 12px;
  }
  
  /* On mouse-over, add a grey background color */
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check input:checked ~ .checkmark {
    background-color: white;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check .checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid #09c09f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .subtxth{
      height:398px;
  }

  .subtxt{
      padding: 160px 0px;
  }

  @media (min-width : 981px) and (max-width : 1300px){
    /* .subtxt{
        padding: 120px 0px;
    } */
  }
