<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="body block-header">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2 class="headerSemiBold">SMS Histroy Statement</h2>

              <ul class="breadcrumb p-l-0 p-b-0 labelTitle">
                <li class="breadcrumb-item">
                  <a class="linkColor" routerLink="/" routerLinkActive="active"><i class="icon-home"></i></a>
                </li>
                <li class="breadcrumb-item active labelTitle">SMS Statement</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12">
              <a routerLink="/smsHistory" routerLinkActive="active"
                class="btn btn-secondary headerSemiBold active btn-simple float-right">
                <i class="icon-arrow-left"></i> BACK
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">

    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        
        <div class="header headerSemiBold">
          <h2><span class="linkColor">SMS</span> Histroy Statement</h2>
        </div>
        
        <div class="body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable js-exportable w-100">
              <thead class="headerSemiBold">
                <tr>
                  <th>SMS</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody class="labelTitle">
                <tr *ngFor="let smsStatement of smsStatementList;let i=index;">
                  <td>{{smsStatement.sms}}</td>
                  <td>{{smsStatement.createdAt | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>