<!-- PAGE HEADING SECTION -->
<section class="bg-fixed page-header bg-no-repeat typo-light" data-background="images/content/bg/elements/7.jpg">
    <div class="overlay-darker"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center top-padding-lg">
                <!-- TITLE  -->
                <h2 class="text-uppercase" data-animated="fadeInLeftBig" data-animation-delay="400">FAQ</h2>
            </div>
        </div>
    </div>
</section>
<!-- PAGE HEADING SECTION -->
<!-- FAQ SECTION -->
<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ex">
                <!--TITLE-->
                <h5>WHAT IF I BUY TWICE?</h5>
                <!--TEXT-->
                <p>Lemon drops bear claw sweet roll. Candy canes caramels tiramisu. Gummies caramels caramels pastry tiramisu sweet roll.</p>
                <!--TITLE-->
                <h5>TWO PAYMENT</h5>
                <!--TEXT-->
                <p>Lemon drops bear claw sweet roll. Candy canes caramels tiramisu. Gummies caramels caramels pastry tiramisu sweet roll.</p>
                <!--TITLE-->
                <h5>RETURNS POLICY</h5>
                <!--TEXT-->
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
            <div class="col-md-6 ex">
                <!--TITLE-->
                <h5>WHICH CREDIT CARDS?</h5>
                <!--TEXT-->
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                <!--TITLE-->
                <h5>SHIPPING TO ALASKA</h5>
                <!--TEXT-->
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                <!--TITLE-->
                <h5>PRIVACY POLICY</h5>
                <!--TEXT-->
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
        </div>
    </div>
</section>
<!-- FAQ SECTION -->