<div class="embed-responsive embed-responsive-21by9" style="position: unset;">
    <iframe id="playTutor" class="embed-responsive-item" [src]="meetingUrl" style="position: absolute; width:98%; height: 96%; border: none;padding:5px;" allow="camera;microphone"></iframe>
    <!-- <embed type="video/webm" [src]="meetingUrl" width="300" height="200"> -->
</div>

<!-- <video type="video/webm" [src]="meetingUrl"> -->

<!-- <embed type="video/webm" src="https://bluejeans.com/917598478/webrtc" width="300" height="200"> -->
<!-- <iframe id="playTutor" class="embed-responsive-item" src="https://bluejeans.com/917598478/webrtc" style="position: absolute; width:98%; height: 96%; border: none;padding:5px;" allow="camera;microphone"></iframe> -->
