<div class="authentication">
  <div class="container">
      <div class="col-md-12 content-center">
          <div class="row clearfix">
              <div class="col-lg-5 col-md-12 offset-lg-3">
                  <div class="card-plain">
                      <div class="header">
                          <h3>Error 4<i class="zmdi zmdi-mood"></i>3</h3>
                          <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
                      </div>
                      <div class="footer">
                          <a  routerLink="/" routerLinkActive="active" class="btn btn-default btn-block">Back To Home</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="particles-js"></div>
</div>