<main class="default-transition">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
              
                <div class="row">
                  
                    <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4">                        
                        <div class="card d-flex flex-row">
                            <div class="d-flex flex-grow-1 min-width-zero ml-4">
                                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <p class="font-weight-bold mb-1 truncate">Bangalore</p>
                                        <p class="mb-2 text-muted text-small">Raj Sahu</p>
                                        <p class="mb-2 text-muted text-small">+91 7697439839</p>
                                        <p class="mb-2 text-muted text-small">
                                            5, 2ND FLOOR, APT NO 38, 6TH MAIN, 14TH CROSS, NS PALYA, BTM 2ND STAGE, BANGALORE, 560076, KA, INDIA
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4">                        
                        <div class="card d-flex flex-row">
                            <div class="d-flex flex-grow-1 min-width-zero ml-4">
                                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <p class="font-weight-bold mb-1 truncate">Surat</p>
                                        <p class="mb-2 text-muted text-small">Support Agent</p>
                                        <p class="mb-2 text-muted text-small">+91 8401561400</p>
                                        <p class="mb-2 text-muted text-small">
                                            417, BytezTech, Billenium Business Corner,Yogi Chowk, Surat, Gujarat 395006
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-12 col-md-12 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="h4">Bangalore Branch</p>
                        <div class="separator mb-2"></div>

                        <div class="d-flex flex-row align-items-center mb-3">
                            <i class="iconsminds-administrator large-icon initial-height"></i>
                              <div class="pl-3 pt-2 pr-2 pb-2">
                                <p class="list-item-heading mb-1">Raj</p>
                              </div>
                          </div>

                        <div class="d-flex flex-row align-items-center">
                            <i class="iconsminds-headphones large-icon initial-height"></i>
                            <div class="pl-3 pr-2 pb-2">
                                <p class="list-item-heading mb-1">+91 7697439839</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-3">
                          <i class="iconsminds-map2 large-icon initial-height"></i>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                              <p class="list-item-heading mb-1">5, 2ND FLOOR, APT NO 38, 6TH MAIN, 14TH CROSS, NS PALYA, BTM 2ND STAGE, BANGALORE, 560076, KA, INDIA</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="h4">Surat Branch</p>
                        <div class="separator mb-2"></div>

                        <div class="d-flex flex-row align-items-center mb-3">
                            <i class="iconsminds-administrator large-icon initial-height"></i>
                              <div class="pl-3 pt-2 pr-2 pb-2">
                                <p class="list-item-heading mb-1">Agent</p>
                              </div>
                          </div>

                        <div class="d-flex flex-row align-items-center">
                            <i class="iconsminds-headphones large-icon initial-height"></i>
                            <div class="pl-3 pr-2 pb-2">
                                <p class="list-item-heading mb-1">+ 91 9000000000</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-3">
                          <i class="iconsminds-map2 large-icon initial-height"></i>
                            <div class="pl-3 pt-2 pr-2 pb-2">
                              <p class="list-item-heading mb-1">417, BBC, YOGICHOWK</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
    </div>
</main>