<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="body block-header">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2 class="headerSemiBold">Manage Fees Details</h2>
              <ul class="breadcrumb p-l-0 p-b-0 ">
                <li class="breadcrumb-item">
                  <a class="linkColor" routerLink="/" routerLinkActive="active"><i class="icon-home"></i></a>
                </li>
                <li class="breadcrumb-item active labelTitle">Fees Details</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12">
              <a routerLink="/" class="btn btn-secondary headerSemiBold float-right active">
                <i class="icon-arrow-left"></i>
                BACK</a>

              <a routerLink="./../feesDetails" class="btn btn-secondary headerSemiBold float-right active"
                *ngIf="userType == 1">Fees Details
                <i class="icon-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" role="alert">
    <div class="container" style="font-size: 14px;color:black;">
      This section will allow you to grant access of course, module, subject or test to any students who has paid fee
      other than the payment gateway used (such as Google pay, offline, apple pay) in your e-com website or mobile apps.
    </div>
  </div>

  <div class="row clearfix">

    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">

        <div class="header headerSemiBold">
          <h2><span class="linkColor">Add</span> Fees</h2>
        </div>

        <div class="body">
          <div class="demo-masked-input labelTitle">
            <div class="row clearfix">

              <div class="col-lg-3 col-md-3"> Select Branch | <a class="linkColor" [routerLink]="['/branch']"
                  [routerLinkActive]="['router-link-active']">Create Branch</a>
                <div class="input-group">
                  <select class="form-control" [(ngModel)]="branchId" (change)="typeList()">
                    <option [ngValue]="undefined" disabled>Select Branch</option>
                    <option *ngFor="let branch of branchList;" [ngValue]="branch.id">
                      {{branch.name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3 col-md-3"> Select Type
                <div class="input-group">
                  <select class="form-control" [(ngModel)]="type" (change)="typeChanged()">
                    <option [ngValue]="undefined" disabled>Select Type</option>
                    <option *ngFor="let types of typesList" [ngValue]="types.type">
                      {{types.title}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3 col-md-3"> Select Course
                <div class="input-group">
                  <select class="form-control" [(ngModel)]="course" (change)="selectedCourse()">
                    <option [ngValue]="undefined" disabled>Select Course</option>
                    <option *ngFor="let course of courseList" [ngValue]="course.id">
                      {{course.title}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3 col-md-3"> Amount
                <div class="input-group">
                  <input type="amount" [(ngModel)]="amount" class="form-control" placeholder="Enter Amount">
                </div>
              </div>

              <div class="col-lg-12 col-md-12" *ngIf="learnerList.length>0">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable w-100">
                  <thead class="headerSemiBold">
                    <tr>
                      <th>
                        <div class="checkbox">
                          <input id="selectAll" type="checkbox" (change)="selectAll($event)">
                          <label for="selectAll">Name</label>
                        </div>
                      </th>
                      <th>Mobile</th>
                    </tr>
                  </thead>
                  <tbody class="labelTitle">
                    <tr *ngFor="let learner of learnerList;let i=index;">
                      <td>
                        <div class="checkbox">
                          <input id="learner{{learner.id}}" type="checkbox" [(ngModel)]="learner.selected"
                            (click)="studentCheck(learner.id,$event)">
                          <label for="learner{{learner.id}}"> {{learner.firstName}} {{learner.lastName}}</label>
                        </div>
                      </td>
                      <td>{{ learner.countrycode }}{{ learner.phone }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-lg-1 col-md-1"><b>&nbsp;</b>
                <div class="input-group">
                  <input type="button" class="btn btn-secondary headerSemiBold float-right" value="SUBMIT"
                    style="margin:0px;" (click)="submitButtonClick();">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>