.table td {
    padding: 0px;
}

.xsmall {
    height: 25px;
    width: 25px;
}

.card-body {
    padding: 1.75rem;
}

.btn-sm {
    padding: .1rem 1rem;
}

.form-container{
    padding: 1rem !important;
    height: auto;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.04);
}

.dashboard-search {
    height: auto;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.pr-img{
    width: 25px;
    object-fit: contain;
}

.progress-bar-circle{
    width: 25px !important;
    height: 0px !important;
  }

.user-info-img{
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.red{
    color: red;
}
.green{
    color: green;
}
.iconsminds-up {
    transform: rotate(-90deg);
  }
  .iconsminds-up:before {
    transform: rotate(-90deg);
    font-size: 20px;
  }
  
  @media (min-width:992px){
    .cent{
        text-align: center;
    }
    .rght{
        float: right !important;
    }
  }
  @media (max-width:991px){
    .cent{
        padding: 15px 0px;
    }
  }