<div class="background show-spinner">
    <div class="fixed-background" style="overflow-y: scroll;">
        <main class="default-transition">
            <div class="container">
                <div class="row h-100">
                    <div class="col-12 col-sm-8 col-md-10 mx-auto my-auto">
                        <div class="card index-card">
                            <div class="card-body text-center form-side">
                                <p class="mb-3 text-center">
                                    <img src="../../../assets/img/company.png" class="img-thumbnail list-thumbnail">
                                </p>

                                <p class="headerBold mb-5">Ooops... looks like you don't have access!</p>
                                <p *ngIf="errMessage" class="mb-0 text-muted labelTitle mb-0">{{errMessage}}</p>
                                <!-- <p class="display-1 headerBold mb-5">{{errMessage}}</p> -->

                                <!-- <a routerLink="/student/dashboard" class="btn btn-secondary default headerSemiBold">GO BACK HOME</a> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>