<main class="default-transition" style="opacity: 1;">
  <div class="container-fluid disable-text-selection">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="row m-0 p-0">
          <div class="col-md-12 col-lg-1 col-sm-12 p-0">
              <h6>
                  <a class="text-muted cursor" (click)="goBack()"><i class="iconsminds-up"></i> Back</a>
              </h6>
          </div>
          <div class="col-md-12 col-lg-10 col-sm-12 p-0">
              <h6 class="cent headerSemiBold">
                  Corona spreading as fast as light
              </h6>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <img class="img-sc" src="assets/img/card-thumb-1.jpg">
        </div>
        <div class="mb-2">
          <span class="mr-4 text-muted">
            <i class="simple-icon-calendar mr-2"></i>
            01-06-2020
          </span>
        </div>
        <div>
          <p class="labelTitle text-justify">
            The Punjab government on Tuesday decided to fill 3,186 posts of various cadres in teaching and non-teaching staff in schools. The Cabinet led by Chief Minister Amarinder Singh approved the School Education Department
          </p>
        </div>
      </div>
    </div>
  </div>
</main>