<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="body block-header">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">

              <h2 class="headerSemiBold">Manage Password</h2>

              <ul class="breadcrumb p-l-0 p-b-0 labelTitle">
                <li class="breadcrumb-item">
                  <a class="linkColor" routerLink="/" routerLinkActive="active"><i class="icon-home"></i></a>
                </li>
                <li class="breadcrumb-item active labelTitle">Password</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12">
              <a routerLink="/" routerLinkActive="active"
                class="btn btn-secondary headerSemiBold btn-simple float-right active">
                <i class="icon-arrow-left"></i> BACK
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        
        <div class="header headerSemiBold">
          <h2><span class="linkColor">Manage</span> Password</h2>
        </div>
        
        <div class="body">
          <div class="demo-masked-input labelTitle">
            <div class="row clearfix">

              <div class="col-lg-4 col-md-4">Old Password
                <div class="input-group warning">

                  <input type="password" class="form-control" [(ngModel)]="oldPassword">
                  <span class="input-group-addon">
                    <i class="icon-lock-open" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>

              <div class="col-lg-4 col-md-4">New Password
                <div class="input-group warning">

                  <input type="password" class="form-control" [(ngModel)]="newPassword">
                  <span class="input-group-addon">
                    <i class="icon-lock-open" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>

              <div class="col-lg-4 col-md-4">Confirm Password
                <div class="input-group warning">

                  <input type="password" class="form-control" [(ngModel)]="confirmPassword">
                  <span class="input-group-addon">
                    <i class="icon-lock-open" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>

              <div class="col-lg-1 col-md-1"><b>&nbsp;</b>
                <div class="input-group">
                  <input type="button" class="btn btn-secondary headerSemiBold float-right" value="UPDATE" style="margin:0px;"
                    (click)="submitButtonClick();">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>