<div class="authentication">
	<div class="container">
		<div class="col-md-12 content-center">
			<div class="row clearfix">
				<div class="offset-lg-3 col-lg-6 col-md-12">
					<div class="card-plain" ng-view>
						<div class="header">
							<h5>Reset Password</h5>
						</div>
						
						<div class="input-group warning">
							<input type="text" class="form-control" placeholder="Enter email">
							
							<span class="input-group-addon">
								<i class="icon-envelope-open" style="padding-left: 15px;"></i>
							</span>
						</div>

						<div class="footer">
							<button class="btn btn-primary btn-block" ng-click="ForgotPassword()">
								SEND <i class="icon-share-alt"></i>
							</button>
						</div>
						<a routerLink="/login" routerLinkActive="active" class="link">Login now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>