<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="body block-header">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2>Manage Social</h2>
              <ul class="breadcrumb p-l-0 p-b-0 ">
                <li class="breadcrumb-item">
                  <a routerLink="/" routerLinkActive="active"><i class="icon-home"></i></a>
                </li>
                <li class="breadcrumb-item active">Social</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12">
                <a routerLink="/setting" routerLinkActive="active" class="btn btn-primary btn-simple float-right active">
                  <i class="icon-arrow-left"></i> BACK
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2><strong>Manage</strong> Social</h2>
        </div>
        <div class="body">
          <div class="demo-masked-input">
            <div class="row clearfix">

              <div class="col-lg-4 col-md-4"> <b>Facebook</b>
                <div class="input-group warning">

                  <input type="text" class="form-control" ng-model="facebook">
                  <span class="input-group-addon">
                     <i class="icon-social-facebook" style="padding-left: 15px;"></i>
                  </span>
                    
                </div>
              </div>

              <div class="col-lg-4 col-md-4"> <b>Twitter</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="twitter">
                  <span class="input-group-addon">
                    <i class="icon-social-twitter" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Google+</b>
                <div class="input-group warning">
                 
                  <input type="text" class="form-control" ng-model="google">
                  <span class="input-group-addon">
                    <i class="icon-social-google" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Instagram</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="instagram">
                  <span class="input-group-addon">
                    <i class="icon-social-instagram" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Pinterest</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="pinterest">
                  <span class="input-group-addon">
                    <i class="icon-social-pinterest" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Dribbble</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="dribbble">
                  <span class="input-group-addon">
                    <i class="icon-social-dribbble" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Linkedin</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="linkedin">
                  <span class="input-group-addon">
                    <i class="icon-social-linkedin" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Github</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="github">
                  <span class="input-group-addon">
                    <i class="icon-social-github" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Reddit</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="reddit">
                  <span class="input-group-addon">
                    <i class="icon-social-reddit" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Skype</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="skype">
                  <span class="input-group-addon">
                    <i class="icon-social-skype" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Behance</b>
                <div class="input-group warning">
                 
                  <input type="text" class="form-control" ng-model="behance">
                  <span class="input-group-addon">
                    <i class="icon-social-behance" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Foursqare</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="foursqare">
                  <span class="input-group-addon">
                    <i class="icon-social-foursqare" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Soundcloud</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="soundcloud">
                  <span class="input-group-addon">
                    <i class="icon-social-soundcloud" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Spotify</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="spotify">
                  <span class="input-group-addon">
                    <i class="icon-social-spotify" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Stumbleupon</b>
                <div class="input-group warning">
                 
                  <input type="text" class="form-control" ng-model="stumbleupon">
                  <span class="input-group-addon">
                    <i class="icon-social-stumbleupon" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Youtube</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="youtube">
                  <span class="input-group-addon">
                    <i class="icon-social-youtube" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Dropbox</b>
                <div class="input-group warning">
                 
                  <input type="text" class="form-control" ng-model="dropbox">
                  <span class="input-group-addon">
                    <i class="icon-social-dropbox" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Vkontakte</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="vkontakte">
                  <span class="input-group-addon">
                    <i class="icon-social-vkontakte" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Steam</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="steam">
                  <span class="input-group-addon">
                    <i class="icon-social-steam" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>
              <div class="col-lg-4 col-md-4"> <b>Tumblr</b>
                <div class="input-group warning">
                  
                  <input type="text" class="form-control" ng-model="tumblr">
                  <span class="input-group-addon">
                    <i class="icon-social-tumblr" style="padding-left: 15px;"></i>
                  </span>

                </div>
              </div>

              <div class="col-lg-1 col-md-1"><b>&nbsp;</b>
                <div class="input-group">
                  <input type="button" class="btn btn-primary float-right" value="SUBMIT"
                    style="margin:0px;">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>