.input-group-addon {
    padding: 10px 10px 4px 10px !important;
}
.term-notSelected{
    color: white !important;
    border-color: transparent !important;
    background-color: #ff896c85 !important;
}