<main class="default-transition" style="opacity: 1;">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12">
                <div class="mb-2">
                    <h6 class="headerSemiBold">FAQ</h6>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="accordion">
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero collapsed" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <button class="card-body btn btn-empty list-item-heading text-left text-one">Getting
                            Started</button>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                        <div class="card-body accordion-content">
                            <ul class="pl-4">
                                <li>
                                    <p class="headerSemiBold">What is the institute?</p>
                                    <p class="pl-3 text-justify labelTitle">Institute is the academy under which a student is enrolled and has subscribed the courses for.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">What is Company and how is it different from other platforms?</p>
                                    <p class="pl-3 text-justify labelTitle">
                                        company is the software as a service platform to create the website, Android and iOS applications to teach and sell courses and test series online.
                                        company has considered several factors and meticulously analysed the challenges faced by academic and training institution in adapting online teaching methodology. We have designed company features in such a way that you don’t need any technical skills to control your web and mobile applications. Also,company SEO and marketing tools takes your brand to millions of users and helps you to generate more revenue online.
                                    </p>
                                </li>
                                <!-- <li>FAQS</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero collapsed" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <button class="card-body btn btn-empty list-item-heading text-left text-one">Setting up your
                            account</button>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                        <div class="card-body accordion-content">
                            <ul class="pl-4">
                                <li>
                                    <p class="headerSemiBold">How can I create an account?</p>
                                    <div class="text-justify labelTitle">
                                        <ul>
                                            <li>Download company mobile application from Google play store and Apple App store or signup from student.example.com</li>
                                            <li>Create an account using your mobile number</li>
                                            <li>Once your mobile number is verified through OTP, you can successfully log in</li>
                                            <li>You can access the education material based on the subscription plan or can subscribe to one</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How do I change the Institute?</p>
                                    <p class="text-justify labelTitle">
                                        Institute can be changed from settings. Goto Settings and under the Institute tab click on Add Institute. Once you have added the desired Institute from the dropdown bar select the Institute you wish to see at present.
                                    </p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How do I change my e-mail ID and phone number?</p>
                                    <p class="text-justify labelTitle">Your account is mapped on your mobile number so it can’t be changed once your account is created. However you can change your email id from the settings.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How do I change password?</p>
                                    <p class="text-justify labelTitle">Password can be changed either from the landing page by clicking on Forgot password or it can be changed through the settings once you login.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Why can’t I see marketplace?</p>
                                    <p class="text-justify labelTitle">You are not able to see marketplace because of the policy of the Institute under which you are registered.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How do I close my account?</p>
                                    <p class="text-justify labelTitle">It’s sad to hear that you have reached this stage. Please let us know as to what caused you to reach this stage. We don’t have the delete account option as of now.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="true" aria-controls="collapseThree">
                        <button
                            class="card-body btn btn-empty list-item-heading text-left text-one">Troubleshooting</button>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body accordion-content">
                            <ul class="pl-4">
                                <li>
                                    <p class="headerSemiBold">Requirements to play audio and video content</p>
                                    <p class="text-justify labelTitle">You just need a smartphone and an internet connection to play audio and video content, nothing else!!!!</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">I cannot see the documents related to the course</p>
                                    <p class="text-justify labelTitle">Sometimes, a PDF document will take a while time to load. From the course dashboard, check how many pages is included in the document. If the document has multiple pages it's likely that the large file size is impacting the load time. Try refreshing the page to fix the issue. In case you are still unable to see the documents related to the course, you can contact our 24*7 support team support@example.com,we will be more than happy to help you</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Why can’t I see marketplace?</p>
                                    <p class="text-justify labelTitle">You are not able to see marketplace because of the policy of the Institute under which you are registered. However if you feel that this is not the case feel free to contact our support team support@example.com to clarify your query and get an instant resolution.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">I do not see the audio/video content of the course</p>
                                    <p class="text-justify labelTitle">To determine whether your device, settings or internet connection may be causing the problem, please try watching another lecture or course. If you’re able to watch other lectures without any problems, this indicates there is a technical issue with the original video. Please contact our support team support@example.com so our team can investigate further and report the issue.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="true" aria-controls="collapseFour">
                        <button class="card-body btn btn-empty list-item-heading text-left text-one">Course and
                            Instructor related issues</button>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body accordion-content">
                            <ul class="pl-4">
                                <li>
                                    <p class="headerSemiBold">How to purchase a course?</p>
                                    <p class="text-justify labelTitle">Goto the course which you like and you want to subscribe and click on Subscribe button, complete the payment and you are ready to start with your course.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Why cannot I see a marketplace?</p>
                                    <p class="text-justify labelTitle">You are not able to see marketplace because of the policy of the Institute under which you are registered. However if you feel that this is not the case feel free to contact our support team support@example.com to clarify your query and get an instant resolution.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How to unsubscribe a course?</p>
                                    <p class="text-justify labelTitle">A course will automatically be unsubscribed once the validity expires from the day of subscription.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How to download the certificate after the course finishes?</p>
                                    <p class="text-justify labelTitle">When you complete a course on company , you will receive a certificate of completion, which you can share with your friends, relatives, co-workers and potential employers. Certificates of completion help demonstrate your accomplishments, but please note company is not an accredited institution, and </p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Where can I find the practice questions?</p>
                                    <p class="text-justify labelTitle">as a result, the certificates cannot be used for formal accreditation. The certificate can be downloaded from company once you complete all required objectives in a course as specified by the tutor of that course.</p>
                                    <p class="text-justify labelTitle">Practice questions, if provided with the course by the instructor can be found in Test series section.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How can I contact any instructor?</p>
                                    <p class="text-justify labelTitle">You can chat with your instructor and get you query clarified in the Communication tab using the My Chat feature.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Issues related to course expiration?</p>
                                    <ol type="I">
                                        <li>
                                            <p class="headerSemiBold">I was not able to complete the course within the stipulated time. How can I complete it?</p>
                                            <p class="text-justify labelTitle">Courses needs to be completed within the validity period. Once a course validity expires you will again need to subscribe it in order to complete it.</p>
                                        </li>
                                        <li>
                                            <p class="headerSemiBold">Can I view the course after its expiration?</p>
                                            <p class="text-justify labelTitle">No, you need to subscribe it again in order to view its content.</p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Where can I find the live lecture schedule?</p>
                                    <p class="text-justify labelTitle">Live classes which are scheduled can be located in Comm. Tab under “Live Classes”.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Can I write the assessment again to improve my score?</p>
                                    <p class="text-justify labelTitle">You can reattempt the assessment as long as the subscription of the test is valid. Once the validity is over the score of the final attempt will be counted as the score of the assessment.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How can I practice the coding part?</p>
                                    <p class="text-justify labelTitle">As of now we don’t have any tool on our platform which will help you in practicing coding. Hopefully we will come-up with it in the near future and will enhance your experience on our platform.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">What does the percentage bar depict?</p>
                                    <p class="text-justify labelTitle">It depicts the current status of completion of the course as to how much part of the course you have completed.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Report a problem/material</p>
                                    <p class="text-justify labelTitle">Contact our support team support@example.com to clarify your query and get an instant resolution.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">How can I stop getting promotional messages?</p>
                                    <p class="text-justify labelTitle">You can unsubscribe from your email id to stop getting promotional messages. But why you want to do it, it will help you to be aware of what current offers are going on the platform.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Can I change my rating/review of a particular course?</p>
                                    <p class="text-justify labelTitle">Yes you can change your rating/review of a course.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="true" aria-controls="collapseFive">
                        <button class="card-body btn btn-empty list-item-heading text-left text-one">Certificate and
                            assessment</button>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body accordion-content">
                            <ul class="pl-4">
                                <li>
                                    <p class="headerSemiBold">Where can I find the assessment?</p>
                                    <p class="text-justify labelTitle">Assessment can be found under the TEST section on home page.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">What percentage should I secure in order to pass the assessment?</p>
                                    <p class="text-justify labelTitle">You need to secure 80 percent of the marks in order to pass the assessment.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Can I write the assessment before completing the course?</p>
                                    <p class="text-justify labelTitle">It depends on the flow of the course created by the instructor whether one can write the assessment before course completion or not.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">I failed in my assessment. Do I need to repurchase in order to complete it?</p>
                                    <p class="text-justify labelTitle">You can give your assessment multiple times as long as the assessment is valid, once it expires you will need to repurchase it.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="true" aria-controls="collapseSix">
                        <button class="card-body btn btn-empty list-item-heading text-left text-one">Payments</button>
                    </div>
                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                        <div class="card-body accordion-content">
                        <ul>
                            <li>
                                <p class="headerSemiBold">What are the payment methods?</p>
                                <p class="text-justify labelTitle">You can pay through credit/debit cards,netbanking(all Indian banks), wallet(JioMoney, Freecharge, PayZapp, Mobikwik, Airtel Money),UPI payments, EMI through Debit and Credit cards, Pay Later using ePayLater.</p>
                            </li>
                            <li>
                                <p class="headerSemiBold">Transaction failed but amount was debited. How can I get the refund?</p>
                                <p class="text-justify labelTitle">Any amount if deducted will be refunded by the bank within 4-5 working days. If still any issues persist contact our support team support@example.com to clarify your query and get an instant resolution.</p>
                            </li>
                            <li>
                                <p class="headerSemiBold">How can I save my card details?</p>
                                <p class="text-justify labelTitle">While entering the card details check on the remember card option and your card will be saved for future transactions and next time an OTP will be send on your number to fetch the saved card details.</p>
                            </li>
                            <li>
                                <p class="headerSemiBold">If I unsubscribe a course in the middle, will I get partial refund?</p>
                                <p class="text-justify labelTitle">Sorry to say but no refund will be granted once you subscribe a course and cancel it in middle.</p>
                            </li>
                            <li>
                                <p class="headerSemiBold">Amount debited from my account but I’m unable to view the course</p>
                                <p class="text-justify labelTitle">Contact our support team support@example.com to clarify your query and get an instant resolution.</p>
                            </li>
                            <li>
                                <p class="headerSemiBold">Where can I find the coupons?</p>
                                <p class="text-justify labelTitle">Coupons if any would be enlisted along with the course, also you will receive promotional messages regarding the ongoing discounts on different courses on your registered email.</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseSeven"
                        aria-expanded="true" aria-controls="collapseSeven">
                        <button class="card-body btn btn-empty list-item-heading text-left text-one">Mobile
                            application</button>
                    </div>
                    <div id="collapseSeven" class="collapse" data-parent="#accordion">
                        <div class="card-body accordion-content">
                            <ul class="pl-4">
                                <li>
                                    <p class="headerSemiBold">How to download Company?</p>
                                    <p class="text-justify labelTitle">Company app can be downloaded from Google Play store and Apple App store.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Signup and login</p>
                                    <ul class="text-justify labelTitle">
                                        <li>Download company mobile application from Google play store and Apple App store</li>
                                        <li>Create an account using your mobile number</li>
                                        <li>Once your mobile number is verified through OTP, you can successfully log in</li>
                                        <li>You can access the education material based on the subscription plan or can subscribe to one</li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Can I access the course content offline?</p>
                                    <p class="text-justify labelTitle">You need an internet connection in order to access the course content.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Requirements</p>
                                    <p class="text-justify labelTitle"></p>Smartphone and a working internet connection are the only requirements that are required to run our application.</li>
                                <li>
                                    <p class="headerSemiBold">Platforms on which we are present</p>
                                    <p class="text-justify labelTitle">Web application is browser based and mobile application are available in iOS and Android platforms only.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card d-flex mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseEight"
                        aria-expanded="true" aria-controls="collapseEight">
                        <button class="card-body btn btn-empty list-item-heading text-left text-one">Forum, polls and
                            community</button>
                    </div>
                    <div id="collapseEight" class="collapse" data-parent="#accordion">
                        <div class="card-body accordion-content">
                            <ul class="pl-4">
                                <li>
                                    <p class="headerSemiBold">Report abuse or abusive content</p>
                                    <p class="text-justify labelTitle">If you are facing any abuse on the chats or have come across any abusive content,don’t hesitate to report it to our support team at support@example.com,We will be more than happy to take action against any such content.</p>
                                </li>
                                <li>
                                    <p class="headerSemiBold">Can I post something anonymously?</p>
                                    <p class="text-justify labelTitle">No, for promoting good practices on the platform you will not be allowed to post something anonymously.</p>
                                </li>
                            </ul>
                            <div>
                                Cannot find your issue? You can reach out to us on <span
                                    class="headerSemiBold h6">support@example.com</span> or call us on <span
                                    class="headerSemiBold h6">+91 7697439839</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>