<main *ngIf="topicId" class="default-transition" style="opacity: 1;">
    <div class="container-fluid disable-text-selection">

        <div class="row">

            <div class="col-xs-12 col-lg-12 col-12 mb-3">
                <div class="row m-0 p-0">
                    <div class="col-md-12 col-lg-1 col-sm-12 p-0">
                        <h6>
                            <a class="text-muted cursor" (click)="goBack()"><i class="iconsminds-up"></i> Back</a>
                        </h6>
                    </div>
                    <div class="col-md-12 col-lg-10 col-sm-12 p-0">
                        <h6 class="cent headerSemiBold">
                            {{contentList?.title}}
                        </h6>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12 text-muted mt-4 mb-4">
                <h4 *ngIf="fromType == 'topic'"><a class="text-muted" routerLink="/student/dashboard">Courses</a> > <a class="text-muted" routerLink="/student/topic">{{contentList?.subject?.title}}</a> > {{contentList?.title}}</h4>
                <h4 *ngIf="fromType == 'subject'"><a class="text-muted" routerLink="/student/dashboard">Courses</a> > <a class="text-muted" routerLink="/student/subject">{{contentList?.subject?.title}}</a> > {{contentList?.title}}</h4>
            </div> -->

            <div class="col-12 col-md-12 col-xl-12 col-left">
                <!-- <h2 class="mb-5 h3 headerBold">
                    {{contentList?.title}}
                </h2> -->

                <div class="mb-4">
                    <p class="text-justify labelTitle" [innerHTML]="contentList?.description" style="white-space: pre-line;"></p>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                    <p class="mb-3 labelTitle">Your Progress <span class="float-right text-muted">{{contentList?.progress}} %</span></p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="contentList?.progress" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': contentList?.progress+'%'}"></div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div *ngIf="contentList?.contents?.length" class="row mb-3">
            <div class="col-12">
                <h6 class="headerSemiBold mt-4 "> 
                    Lecture Contents
                </h6> 
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-4 col-12" *ngFor="let content of contentList?.contents; let i=index" style="cursor: pointer;">
                <div class="card shadow mb-4">

                    <div class="card-body" (click)="navigateUrl(content)">
                        <h6 class="mb-3 headerSemiBold">
                            {{content.title | slice:0:25}}
                            
                            <span *ngIf="content.title.length>=25">...</span>
                        </h6>

                        <p class="text-justify labelTitle scrollbar" [innerHTML]="content?.description">
                            <!-- {{content?.description | slice:0:120}}
                            <span *ngIf="content?.description.length>=120">...</span> -->
                        </p>

                        <table class="table table-sm table-borderless text-muted headerSemiBold">
                            <tbody>
                                <tr> 
                                    <td> {{content.videoCount}} Video </td> 
                                    <td> {{content.pdfCount}} PDF </td>
                                    <td> {{content.audioCount}} Audio </td>
                                    <td> {{content.pptCount}} PPT </td> 
                                </tr>
                            </tbody>
                        </table>

                        <div *ngIf="content?.isPaid==0" class="float-right headerSemiBold rating">
                            <span class="headerSemiBold text-muted">
                                <img src="../../../assets/img/icons/toa@2x.png" style="height: 17px; width: 15px;"> Free
                            </span>
                        </div>

                        <div *ngIf="!(content?.isPaid==0)&& !(content?.purchase || contentList?.purchase || contentList?.subject?.purchase)" class="float-right headerSemiBold rating">
                            <span class="headerSemiBold" style="color:#FF7A59"  >
                                {{content?.currency?.sign}} {{ content.amount }}.00
                            </span>
                        </div>
                        <div class="float-right" *ngIf="(content?.purchase || contentList?.purchase || contentList?.subject?.purchase) && content.isPaid">
                            <span class="headerSemiBold">
                                <div role="progressbar" class="progress-bar-circle position-relative" data-color="#FF7A59" data-trailcolor="#d7d7d7" aria-valuemax="100" [attr.aria-valuenow]="content?.progress" data-show-percent="true">
                                    <svg viewBox="0 0 110 110" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#d7d7d7" stroke-width="10" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#FF7A59" stroke-width="10" fill-opacity="0" style="stroke-dasharray: 301.635, 301.635;" [ngStyle]="{'stroke-dashoffset': 301-(content?.progress*3)}"></path>
                                    </svg>
                                    <!-- <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(146, 44, 136);">
                                        64%
                                    </div> -->
                                </div>
                                <span style="position:relative;right:120%">{{content?.progress}}%</span>
                            </span>
                        </div>
                        <span *ngIf="content.isPaid && content.validity && !(content?.purchase || contentList?.purchase  || contentList?.subject?.purchase)" class="coral headerSemiBold"> Valid for {{content?.validity}} days</span>
                        
                        <span *ngIf="content.isPaid && contentList?.purchase && (contentList?.purchase?.remainHours > 72)" class="selected headerSemiBold"> Expires in {{contentList?.purchase?.remainDays}} days</span>
                        <span *ngIf="content.isPaid && contentList?.purchase && (contentList?.purchase?.remainHours <= 72)" class="selected headerSemiBold"> Expires in {{contentList?.purchase?.remainTime}} hr</span>
                        <span *ngIf="content.isPaid && !contentList?.purchase && contentList?.subject?.purchase && (contentList?.subject?.purchase?.remainHours > 72)" class="selected headerSemiBold"> Expires in {{contentList?.subject?.purchase?.remainDays}} days</span>
                        <span *ngIf="content.isPaid && !contentList?.purchase && contentList?.subject?.purchase && contentList?.subject?.purchase?.remainHours && (contentList?.subject?.purchase?.remainHours <= 72)" class="selected headerSemiBold"> Expires in {{contentList?.subject?.purchase?.remainTime}} hr</span>
                        <span *ngIf="content.isPaid && !contentList?.purchase && !contentList?.subject?.purchase && (content?.purchase?.remainHours > 72)" class="selected headerSemiBold"> Expires in {{content?.purchase?.remainDays}} days </span>
                        <span *ngIf="content.isPaid && !contentList?.purchase && !contentList?.subject?.purchase && content?.purchase?.remainHours && (content?.purchase?.remainHours <= 72)" class="selected headerSemiBold"> Expires in {{content?.purchase?.remainTime}} hr </span>

                    </div>
                    <button id="paymentButton" class="d-none" data-toggle="modal" data-backdrop="static" data-target="#contentPayment"></button>

                    <!-- <div class="card-body" *ngIf="content?.isPaid==1" (click)="contentSelect(content.id);subscribePay()" data-toggle="modal" data-backdrop="static" data-target="#contentPayment">
                        <h4 class="mb-3 headerSemiBold">
                            {{content.title | slice:0:25}}
                            
                            <span *ngIf="content.title.length>=25">...</span>
                        </h4>

                        <p class="text-justify labelTitle">
                            {{content.description | slice:0:120}}
                            <span *ngIf="content.description.length>=120">...</span>
                        </p>

                        <table class="table table-sm table-borderless text-muted headerSemiBold">
                            <tbody>
                                <tr> 
                                    <td> {{content.videoCount}} Video </td> 
                                    <td> {{content.pdfCount}} PDF </td>
                                    <td> {{content.audioCount}} Audio </td>
                                    <td> {{content.pptCount}} PPT </td> 
                                </tr>
                            </tbody>
                        </table>

                        <div class="float-right headerSemiBold rating h6">
                            <span class="headerSemiBold" style="color:#FF7A59"  >
                                ₹ {{ content.amount }}
                            </span>
                        </div>
                        
                    </div> -->

                </div>
            </div>
        </div>
       
    </div>
</main>
    
<div class="modal fade modal-top" id="contentPayment" tabindex="-1" role="dialog" aria-labelledby="contentPayment"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="headerBold">{{contentTitle}}</h6>
                <button id="closePayModel" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="payementModalClose()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p class="text-justify labelTitle" [innerHTML]="contentPreview" style="white-space: pre-line;"></p>
            </div>
            <div class="modal-footer text-center" style="display: block;">
                <p *ngIf="contentPaymentGateWayName != 'OfflinePay'" class="text-justify labelTitle">By clicking on continue you agree to subscribe to the course</p>
                <button *ngIf="(contentPaymentGateWayName != 'OfflinePay') && !payPalPay" type="button" class="btn btn-secondary default headerSemiBold" (click)="payementDetails('content',contentId,contentAmount,contentCurrency,contentTitle,contentGateWayId,contentPaymentGateWayName,contentKey)">
                    CONTINUE TO PAY {{contentCurrency?.sign}} {{contentAmount}}
                </button>
                <div *ngIf="contentPaymentGateWayName == 'OfflinePay'">
                    <p class="headerSemiBold m-0">OfflinePay</p>
                    <p class="text-center labelTitle m-0">Please contact your institute for more details</p>
                </div>
                <app-payment-gate-way (payementDetails)="afterPayment($event)"></app-payment-gate-way>
            </div>
        </div>
    </div>
</div>