<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="body block-header">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2 class="headerSemiBold">Get in touch</h2>
              <ul class="breadcrumb p-l-0 p-b-0 ">
                <li class="breadcrumb-item">
                  <a class="linkColor" routerLink="/" routerLinkActive="active"><i class="icon-home"></i></a>
                </li>
                <li class="breadcrumb-item active labelTitle">Help & Support</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12">
              <a routerLink="/" class="btn btn-secondary headerSemiBold float-right active">
                <i class="icon-arrow-left"></i>
                BACK</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h2>Help & Support</h2>
        </div>

        <!-- 
        <div class="body">
          <div class="tab-content">
            <div class="tab-pane active">
              <ul>
                <li>1. Getting Started</li>
                <li>2. Setting up your account</li>
                <li>3. Payments/Tax</li>
                <li>4. Promotion/Selling/Coupons/Marketing</li>
                <li>5. Course management</li>
                <li>6. Communication</li>
                <li>7. Students</li>
              </ul>
            </div>
          </div>
        </div> 
        -->

        <div class="body">
          <div class="row clearfix">
            <div class="col-md-12">
              <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">

                <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingOne_1">
                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion_1"
                        href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1" class="collapsed">1.
                        Getting Started</a> </h4>
                  </div>
                  <div id="collapseOne_1" class="panel-collapse in collapse show" role="tabpanel"
                    aria-labelledby="headingOne_1" aria-expanded="false">
                    <div class="panel-body">
                      <ol type="a">
                        <li>
                          What is Company and how is it different from other platforms?
                          <p>
                            Company is the software as a service platform to create the website, Android and iOS
                            applications to teach and sell courses and test series online. Company has considered several
                            factors and meticulously analysed the challenges faced by academic and training institution
                            in adapting online teaching methodology. We have designed company features in such a way that
                            you don’t need any technical skills to control your web and mobile applications . Also company
                            SEO and marketing tools takes your brand to millions of users and helps you to generate more
                            revenue online.
                          </p>
                        </li>

                        <li>
                          FAQs
                          <p>
                              Here is the link for detailed FAQs - <a href="https://example.com/faqs.php" target="_blank">https://example.com/faqs.php</a>
                          </p>
                        </li>

                        <li>
                          Dashboard overview
                          <p>
                            The dashboard provides you a consolidated view of the status of your course(s). The students
                            section shows you the number of students you have in a particular month. The Income section
                            shows the income you have received in a particular month. You can also view your top selling
                            subject(s). The total content section shows the amalgamation of your content in all your
                            course(s). Test and practice show you how the breakdown of the test and practice test. These
                            tools come in handy to keep a track of your course’s effectiveness.
                          </p>
                        </li>
                      </ol>

                    </div>
                  </div>
                </div>

                <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingTwo_1">
                    <h4 class="panel-title"> <a class="" role="button" data-toggle="collapse" data-parent="#accordion_1"
                        href="#collapseTwo_1" aria-expanded="true" aria-controls="collapseTwo_1">2. Setting up your
                        account </a> </h4>
                  </div>
                  <div id="collapseTwo_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1"
                    aria-expanded="true">
                    <div class="panel-body">
                      <ol type="a">
                        <li>
                            How can I create an account?
                            <p>
                                You need to visit <a href="https://example.com/company-pricing.php" target="_blank">https://example.com/company-pricing.php</a> and select the plan that suits your objectives. The you need to enter your personal details. Once you have done this, one of our executives will reach you via phone call and assist you with further steps.
                            </p>
                        </li>

                        <li>
                            Comparison between the packages. 
                            <p>
                                Visit <a hre="https://example.com/edtech-platform-pricing.php" target="_blank">https://example.com/edtech-platform-pricing.php</a> and compare our packages qualitatively and quantitatively to choose the right one for you.
                            </p>
                        </li>

                        <li>
                            What documents should I provide?
                            <p>
                              Know the documents to be kept ready while creating your account
                            </p>
                        </li>

                        <li>
                            Verification process
                            <p>
                              Once you send us required documents, we will go through those and let you know once we have verified them.
                            </p>
                        </li>

                      </ol>
                    </div>
                  </div>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingThree_1">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion_1" href="#collapseThree_1" aria-expanded="false"
                        aria-controls="collapseThree_1">3. Payments/Tax</a> </h4>
                  </div>
                  <div id="collapseThree_1" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree_1" aria-expanded="false">
                    <div class="panel-body">
                      <ol type="a">
                        <li>
                          Do I need to submit tax form?
                          <p>
                            As any organization, we do have tax obligations to the government and to make the easy flow of payments, you need to submit your tax documents beforehand
                          </p>
                        </li>

                        <li>
                          Will I get the payment after deducting tax?
                          <p>
                              Yes. We strive to make our clients’ life easy. Hence, we will make all your tax calculations and provide you the payment. Know the tax policies/slabs and the approximate payment you will be receiving after tax deductions
                          </p>
                        </li>

                        <li>
                          Where can I add my payment account?
                          <p>
                              Once you log on to your account, go to settings by clicking on the top right corner option. Then click on payment gateway option and add your preferred payment method.
                          </p>
                        </li>

                        <li>
                          If my account is abroad, what are the tax rules and policies?
                          <p>
                            (We will attach the tax rules and slabs country wise.)
                          </p>
                        </li>

                      </ol>
                    </div>
                  </div>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="heading4">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion_1" href="#collapseThree_1" aria-expanded="false"
                        aria-controls="collapseThree_1">4. Promotion/Selling/Coupons/Marketing</a>
                    </h4>
                  </div>
                  <div id="collapseThree_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body">
                      <ol type="a">
                        <li>
                          How can I promote my course?
                          <p>
                              Hover your mouse pointer over Marketing tab. Bulk SMS and bulk E-mails are two ways you can promote your courses. Select the channel, students and details and click on send.
                          </p>
                        </li>

                        <li>
                          How can I generate coupons and send it?
                          <p>
                              Hover your mouse pointer over Marketing and click on Manage coupons. Create coupons and the discount you want to provide it and send it to students via bulk SMSs and bulk e-mails.
                          </p>
                        </li>

                        <li>
                          Rules to price a course?
                          <p>
                              Hover the mouse pointer over Courses and click on Add Subject. Enter the Subject details and check Paid option, select gateway, amount and its validity.
                          </p>
                        </li>
                      </ol>

                    </div>
                  </div>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="heading5">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion_1" href="#collapseThree_1" aria-expanded="false"
                        aria-controls="collapseThree_1">5. Course management</a> </h4>
                  </div>
                  <div id="collapseThree_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body">
                      <ol type="a">
                        <li>
                            How to add/edit a course, subject and topic and its name?
                            <p>
                                Hover the mouse pointer over Courses. There you will see Add Subjects, Add Topic, Create course content options. Once you click on any of these options, you will see the sub headings. You need to add the respective details there and click on Submit.
                            </p>
                        </li>

                        <li>
                            How to add/edit price to a course/test?
                            <p>
                                Hover on Courses and click on Add Topics and select the Subject. Once you select the subject, you can add a new topic at the end of the page or change the price of any selected topic.
                            </p>
                        </li>

                        <li>
                          How can I add/remove:
                          <ol type="i">
                            <li>PDFs</li>
                            <li>PPTs</li>
                            <li>Audio</li>
                            <li>Videos</li>
                          </ol>
                          <p>
                              Hover your mouse pointer over Courses and click on Create Course Content. You will be able to select the Subject and the Topic, once you select these, you will see option to add the topic related document there. You will also be able to see the existing documents. You can delete the unrequired documents.
                          </p>
                        </li>

                        <li>
                          How can I add practice and assessment questions?
                          <p>
                              Under Test Series, you can see 2 options Test Questions and Practice Questions. Click the one you need to add. Select the Subject and Topic and the Instructions and other details. You can download a sample questions in Excel format. You need to create your questions and the answers in the same format. Once you have done it, upload it by clicking on Choose File. The questions will be live for the topic you have chosen.
                          </p>
                        </li>

                        <li>How to schedule live streaming class?</li>
                        <li>How to add events to course calendar?</li>

                        <li>
                          How to track the test scores?
                          <p>
                            Under Reports tab you need to click on Test Scores. Here you will be able to track the test score and the student’s performance.
                          </p>
                        </li>
                        <li>
                          Content related
                          <ol type="i">
                            <li>Content’s copyright/watermark rules</li>
                            <li>Restricted topics</li>
                            <li>Video/Audio/PDF/PPT specifications</li>
                          </ol>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="heading6">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion_1" href="#collapseThree_1" aria-expanded="false"
                        aria-controls="collapseThree_1">6. Communication</a> </h4>
                  </div>
                  <div id="collapseThree_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                    <div class="panel-body">
                      <ol type="i">
                        <li>
                          Rules to create polls/discussions
                          <p></p>
                        </li>
                        
                        <li>
                          How to create polls/discussions
                          <p>
                              Under Communication, you can see the Create Polls and Forum and Discussion option. Click on the one you wish to create. Then you need to write the content and questions(for polls).
                          </p>
                        </li>

                        <li>
                          Report abusive comment
                          <p>
                              We take abusive comments very seriously. You need to click on the Report Abuse option present on the comment. We will verify it and take action accordingly.
                          </p>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="heading6">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion_1" href="#collapseThree_1" aria-expanded="false"
                        aria-controls="collapseThree_1">7. Students</a> </h4>
                  </div>
                  <div id="collapseThree_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                    <div class="panel-body">
                      <ol type="a">
                        <li>
                          How to view the students enrolled in my course?
                          <p>
                              Under Admission and Fee you can find the Manage Students option. Here you can filter the students according to Education and Branch.
                          </p>
                        </li>

                        <li>
                          How to view all the students?
                          <p>
                              Under Admission and Fee you can find the Manage Students option. You can see all the students under Available Learners.
                          </p>
                        </li>

                        <li>
                          Rules to communicate with a students
                        </li>
                        <li>
                          How to view a student’s profile?
                        </li>
                        <li>
                          How to filter out target students?
                          <p>
                              Under Admission and Fee you can find the Manage Students option. Here you can filter the students according to Education, Branch, First name, contact number, etc.
                          </p>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="body">
          <div class="tab-content">
            <div class="tab-pane active">
              <p>
                Cannot find your issue? You can reach out to us on support@example.com, or call us on +91 635 11 00 121
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>