::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
    background: #FFF; 
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #212529; 
}