<main class="default-transition" style="opacity: 1;">
  <div class="container-fluid disable-text-selection">
      <div class="row">
          <div class="col-12">

              <div class="row">
                  <div class="col-xs-12 col-lg-12 col-12 mb-3">
                      <div class="row m-0 p-0">
                          <div class="col-md-12 col-lg-4 col-sm-12 p-0">
                              <h6>
                                  <a class="text-muted cursor" (click)="goBack()"><i class="iconsminds-up"></i> Back</a>
                              </h6>
                          </div>
                          <div class="col-md-12 col-lg-4 col-sm-12 p-0">
                              <h6 class="cent headerSemiBold">
                                  Test Lists
                              </h6>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row mb-4" *ngIf="!seriesList?.length">
                  <div class="col-12 col-sm-12 col-md-12 mx-auto my-auto">
                      <div class="card index-card">
                          <div class="card-body text-center form-side">
                              <p class="mb-3 text-center">
                                  <img *ngIf="instituteLogo" src="{{instituteLogo}}"
                                      class="img-thumbnail border-0 list-thumbnail align-self-center xsmall">
                                  <img *ngIf="!instituteLogo" src="../../../assets/img/favicon.png"
                                      class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall">
                              </p>
                              <h6 class="headerSemiBold">No test lists yet</h6>
                              <p class="text-muted labelTitle">Coming soon!</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row" *ngIf="seriesList?.length">
                  <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4" *ngFor="let series of seriesList; let i=index">

                      <div (click)="requestNavigate(series)" class="card pointer shadow mb-4">
                          <div class="card-body m-170">
                              <h6 class="mb-3 headerSemiBold">
                                  {{series?.series?.title | slice:0:65}}
                                  
                                  <span *ngIf="series?.series?.title?.length>=65">...</span>
                              </h6>
                              <div class="btn-link mb-2">
                                    <p>
                                        <span class="labelTitle text-muted">
                                            <img src="../../../assets/img/icons/comm.png" style="height:15px;"> 
                                            {{series?.series?.questionCount}} Question | {{series?.series?.timed? (series?.series?.timeEqual ? (series?.series?.duration + ' Min'): (series?.series?.noEqualTotalTime + ' Min')) : (' Untimed Test') }}
                                        </span>
                                    </p>
                                    
                              </div>
                              <div class="float-right headerSemiBold rating">
                                <span *ngIf="series.series.studentAnswer == null" class="headerSemiBold" style="color:#FF7A59"  >
                                    Take test
                                </span>
                                <span *ngIf="series.series.studentAnswer != null" class="headerSemiBold" style="color:#FF7A59"  >
                                    View Result
                                </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="text-center col-12" *ngIf="seriesList?.length >= page*10">
                    <button class="btn btn-secondary default headerSemiBold" (click)="bundleSeries(page+1,limit)">View more</button>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</main>