/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: welcomeTitle;
    src: url("./assets/fonts/montserrat/AbrilFatface-Regular.ttf") format("truetype");
    font-display: swap;
}

.welcomeFont {
    font-family: welcomeTitle !important;
    font-size: 2.75rem !important;
}

@font-face {
    font-family: boldHeader;
    src: url("./assets/fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

.headerBold {
    font-family: boldHeader !important;
}

@font-face {
    font-family: semiBoldHeader;
    src: url("./assets/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-display: swap;
}

.headerSemiBold {
    font-family: semiBoldHeader !important;
}

@font-face {
    font-family: regularLabel;
    src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

.labelTitle {
    font-family: regularLabel !important;
}

.progress-bar {
    background-color: #09C09F !important;
}

.btn-secondary {
    background-color: #FF7A59 !important;
    border-color: #FF7A59 !important;
}

.nav-link.active{
    color: #FF7A59 !important;
}

.nav-tabs .nav-link.active:before {
    background: #FF7A59 !important;
}

.coral{
    color: coral !important;
}

.rating {
    color: #09C09F !important;
}

.scrollbar
{
    height: 70px;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF7A59; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .pointer{
      cursor: pointer;
  }

.glyph
{
    width: auto !important;
    height: auto !important;   
    color: #145388 !important;
}

.simple-line-icons .glyph .glyph-icon {
    font-size: 20px !important;
}
.coral{
    color: coral;
}
.green{
    color: green;
}
.cursor{
    cursor: pointer;
}
.review-slide{
    width: 389.667px; 
    margin-left: 0px; 
    margin-right: 0px;
}
.live-btn-bak{
    background-color: coral;
    border-color: coral;
    color: #fff;
}
.not-selected{
    color: #d7d7d7 !important;
}
.selected{
    color: #145388 !important;
}
.pre-line{
    white-space: pre-line;
}
.welcomeFont-clr{
    color: #3a3a3a;
}
.b-none{
    border: none;
    background: transparent;
}
.crimson{
    color: crimson;
}

.pos-val{
    position:relative;
    left:10%;
}
.d-none{
    display: none !important;
}
.wht-pr-ln{
    white-space: pre-line;
}
.pop-open{
    display: block;
}
.pop-close{
    display: block ;
}
.bck-f1{
    background-color: #f7f7f7;
}
.float-right{
    float: right;
}
.d-flex{
    display: flex;
}
.fnt-15{
    font-size: 15px !important;
}
.mb-10{
    margin-bottom: 10px;
}

@media (min-width:768px){
    .pop-close{
        display: block ;
    }
}

@media screen and (max-width:767px){
    .pop-close{
        display: none ;
    }
    .pop-open{
        display: block;
    }
}
