<div class="authentication">
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="row clearfix">
          <div class="offset-lg-3 col-lg-6 col-md-12">
            <div class="card-plain" ng-view>
              <div class="header">
                <h5>Create New Password</h5>
              </div>						
  
              <div class="input-group warning">
                  <input type="password" class="form-control" placeholder="Enter new password" [(ngModel)]="password">
                
                <span class="input-group-addon">
                  <i class="icon-lock" style="padding-left: 15px;"></i>
                </span>
              </div>
              <div class="input-group warning">
                <input type="password" class="form-control" placeholder="Enter confirm password" [(ngModel)]="cpassword">
                
                <span class="input-group-addon">
                  <i class="icon-lock" style="padding-left: 15px;"></i>
                </span>
              </div>
  
              <div class="col-md-12 text-danger"><strong>{{ changePasswordMessage }}</strong></div>
  
              <div class="footer">
                <button class="btn btn-primary btn-block" (click)="changePassword()">
                  Change Password <i class="icon-login"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>